[2015-04-28 18:40] peterdesmet opened #1 "Update Standards section on TDWG website"
The TDWG website currently contains two page types for the standards:
1. An overview of all standards: http://tdwgng.tdwg.org/standards/.
2. A (cover) page for each standard (e.g. http://www.tdwg.org/standards/150), with an abstract, a link to download the standard, and a (almost never used) feature to leave a comment.

The second page type is no longer needed, as all standards will be moved to Gi

[2015-04-28 19:36] peterdesmet opened #2 "Migrate "GUID and Life Sciences Identifiers Applicability Statements" to GitHub"
Current URL: http://www.tdwg.org/standards/150/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already
- [x] Decide on shortname: `guid-as`
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitHub.
- [x] Create managin

[2015-04-30 02:02] CynthiaParr-USDA commented on #2
The primary name on the task group was Kevin Richards, Email: richardsk777@gmail.com
but I'm sure that there were others involved.  I think the suggested name is fine.  I think it would be good to start the README with the basic metadata, move the content to GitHub then get Richards or someone else he designates to review things prior to the formal release.

[2015-05-07 13:58] peterdesmet commented on #2
Contacted Kevin.

[2015-05-18 06:54] peterdesmet opened #3 "Can we redirect URLs?"
One of the tasks in migrating the TDWG standards to GitHub is redirecting the what is called "permanent URL" of the standard (such as http://www.tdwg.org/standards/450) to the GitHub repository of the standard. We already have the OK from the task groups to redirect this URL for Darwin Core, [Vocab](https://github.com/tdwg/vocab/issues/1#issuecomment-101322778) and GUID applicability statement (th

[2015-05-18 07:44] sblum commented on #3
I'm not sure we want to link www.tdwg.org/standards/450 to the GitHub repository.  I think the old practice was to link that URL to the "cover page" for the standard.  On the cover page there should be a link to "download" the standard, and maybe a place to view it online, such as http://rs.tdwg.org/dwc/index.htm.  Does GitHub allow us to alias repositories on their site with a client's URL, like

[2015-05-18 08:02] peterdesmet commented on #3
@sblum, a GitHub repository (e.g. https://github.com/tdwg/dwc) acts the same way as a cover page in my opinion:
- The README gives/should give an introduction to the standard (the README text is displayed by default for each repository on GitHub)
- You can download the whole repository on the right hand side (`download zip`)
- Any relevant external website can be mentioned in the README

Alternati

[2015-05-28 11:39] CynthiaParr-USDA commented on #3
Tim proposes rewrite rules on the TDWG GBIF server.

[2015-05-28 11:41] timrobertson100 commented on #3
We believe there are around 20 URLs that need to be rewritten only.
The simplest solution will be to put something like an `Apache  mod_rewrite` in front of the TDWG site for those URLs.  When the site is moved, please contact trobertson@gbif.org and admin@gbif.org and we will make this happen.

[2015-05-28 12:29] mdoering commented on #3
We also need redirects for the changed dwc layout: https://github.com/tdwg/dwc/issues/80 under rs.tdwg.org
In general I would prefer redirects over rewrites so users are aware of the change

[2015-05-28 12:55] timrobertson100 commented on #3
Indeed, it would issue `301 moved permanently` to the new location

[2015-05-29 10:40] CynthiaParr-USDA commented on #2
Peter, any word from Kevin? If we need a new champion let us know.

[2015-05-29 13:09] peterdesmet commented on #2
Yes, I know everything. Just need to find the time to do it. You can keep this assigned to me.

[2015-05-29 19:42] peterdesmet commented on #2
Most of the work done. Standard now lives at https://github.com/tdwg/guid-as and can be removed from TDWG website. Will close this issue once final tasks have been resolved.

[2015-05-30 11:52] peterdesmet commented on #3
Great. I'll add a list of URLs to be redirected to this repository.

[2015-05-30 11:52] #3 closed, assigned to timrobertson100

[2015-05-30 12:06] peterdesmet opened #4 "Redirect URLs"
The list of URLs to be redirected can be found [here](https://github.com/tdwg/tdwg.org/blob/master/migration/redirects.csv). This list will only be complete once all standards have been moved.

See #3 on how to implement the redirects (`Apache mod_rewrite`).

[2015-05-30 12:19] peterdesmet commented on #1
Updated issue body with more context.

[2015-05-30 12:23] peterdesmet commented on #4
I assume the redirect mechanism can handle paths after the permanent URL to be redirected as well?

E.g.

[code]

Are all redirected to `https://github.com/tdwg/guid-as`

[2015-05-30 12:29] peterdesmet opened #5 "Migrate "TAPIR - TDWG Access Protocol for Information Retrieval""
Current URL: http://www.tdwg.org/standards/449/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already
- [x] Decide on shortname: `tapir`
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitHub.
- [x] Create managing

[2015-05-30 12:30] peterdesmet opened #6 "Migrate "Access to Biological Collection Data - version 2.06""
Current URL: http://www.tdwg.org/standards/115/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already
- [x] Decide on shortname: `abcd`
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitHub.
- [x] Create managing t

[2015-05-30 12:32] peterdesmet opened #7 "Migrate "Structured Descriptive Data""
Current URL: http://www.tdwg.org/standards/116/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already
- [x] Decide on shortname: `sdd`
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitHub.
- [x] Create managing te

[2015-05-30 12:32] peterdesmet opened #8 "Migrate "Taxonomic Concept Transfer Schema""
Current URL: http://www.tdwg.org/standards/117/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already
- [x] Decide on shortname: `tcs`
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitHub.
- [x] Create managing te

[2015-05-30 12:33] peterdesmet opened #9 "Migrate "Definition of the Delta Format""
Current URL: http://www.tdwg.org/standards/107/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already
- [x] Decide on shortname
- [x] Ask for preferred citation: `delta`
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitHub.
- [x] Create managing

[2015-05-30 12:33] peterdesmet opened #10 "Migrate "TDWG Standards Documentation Specification""
Current URL: http://www.tdwg.org/standards/147/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already: it is: https://github.com/tdwg/vocab
- [x] Decide on shortname
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to G

[2015-05-30 12:34] peterdesmet opened #11 "Migrate "Natural Collections Descriptions (NCD)""
Current URL: http://www.tdwg.org/standards/312/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already: there is an svn repo, which @mdoering will migrate
- [x] Decide on shortname `ncd`
- [ ] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and m

[2015-05-30 12:34] peterdesmet opened #12 "Migrate "ABCDDNA - DNA extension for Access to Biological Collection Data""
Current URL: http://www.tdwg.org/standards/640/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already
- [x] Decide on shortname: `abcd-dna`?
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitHub.
- [x] Create manag

[2015-05-30 12:35] peterdesmet opened #13 "Migrate "Audubon Core Multimedia Resources Metadata Schema""
Current URL: http://www.tdwg.org/standards/638/
- [x] Contact someone from the standard task group
- [x] Verify the standard is not maintained in another repository already: it is: https://github.com/tdwg/ac
- [x] Decide on shortname
- [x] Ask for preferred citation
- [x] Create repository
- [x] Create a README based on the standard abstract
- [x] Download the standard and move the content to GitH

[2015-05-30 12:37] peterdesmet commented on #13
Dear @tdwg/audubon-core members:
1. I assume http://www.tdwg.org/standards/638/ is now https://github.com/tdwg/ac?
2. Is there anything left at http://www.tdwg.org/standards/638/ that should be moved to https://github.com/tdwg/ac?

[2015-05-30 14:40] mdoering commented on #11
I can take this task, Peter. I have done a lot of the technical work for NCD

[2015-05-30 14:43] mdoering commented on #6
I have spoken to Mareike Hirschfeld last week who is part of the just started ABCD3 project. They start by cleaning up existing ABCD documentation floating around and I have proposed her to do this by migrating ABCD to github and use the repos wiki to document it as best as they can.

Shall I ask Walter, Anton and Mareike (Mareike.Hirschfeld@mfn-berlin.de) to lead this?

[2015-05-30 14:47] mdoering commented on #11
@peterdesmet I cannot create new teams an Owner is needed for that

[2015-05-30 15:34] tucotuco commented on #11
You realize that NCD never made it to an accepted standard, right?

[2015-05-30 17:00] mdoering commented on #11
Is ratification relevant, @tucotuco? I thought we simply migrate all groups no matter if they have a ratified standard or not.

[2015-05-30 17:19] tucotuco commented on #11
In terms of migration, no, it is not relevant. It is just that the checklist makes it sound like one. No worries.

[2015-05-30 17:22] timrobertson100 commented on #11
To me it sounds correct to migrate all, perhaps indicating the status at
the top of the README or similar?
Presumably it would be released / tagged too on ratification.

On Sat, May 30, 2015 at 7:00 PM, Markus Döring notifications@github.com
wrote:

[2015-05-30 21:13] baskaufs commented on #13
The URL "http://www.tdwg.org/standards/638/" is supposed to be the "permanent URL" for the standard and has probably been cited multiple places as such.  Thus, if the page at that URL isn't going to be maintained, it should link or redirect to a place where a "frozen" copies of the standard are archived.

The actual usable standards documents that are typically viewed by users are at http://terms.

[2015-05-30 21:18] baskaufs commented on #13
Peter, can you "watch" the Vocab repository?
https://github.com/tdwg/vocab/watchers
At this moment, we are beginning to discuss the vocabulary management process and I see "create a managing team" in your checklist above.  That is the topic of Issue 8 https://github.com/tdwg/vocab/issues/8  How do we create a managing team???

[2015-05-30 21:53] ramorrismorris commented on #13
I favor Steve's suggestion.

The current http://www.tdwg.org/standards/638/ is out of date as to its
"Download" link because(?) of the difficulty of editing
http://www.tdwg.org/standards.  TDWG management has been claiming that is a
situation ending real soon now.  But even if it isn't,  it is not deep to
make http://www.tdwg.org/standards/ ( or for that matter
http://www.tdwg.org/standards/638/ )

[2015-05-31 14:28] peterdesmet commented on #11
Thanks @mdoering for taking over. I have created a team `ncd`, with access to this repo and you as member. You can invite more. Ratified or not does not matter for migration, we're moving everything listed on http://www.tdwg.org/standards/. Indication of status is part of #1.

[2015-05-31 14:29] peterdesmet commented on #11
Note, I have removed the `prior-standards` team from the `ncd` repo.

[2015-05-31 14:53] peterdesmet commented on #13
Hi @baskaufs, @ramorrismorris (also copying @tdwg/darwin-core).

I think there are several options for redirecting the URL http://www.tdwg.org/standards/638/:
1. Redirect to the GitHub repository, where the standard "lives". The user will find there the abstract + further links in the README (visible on the repository landing page), discussions in issues, and is able to download the standard via t

[2015-05-31 14:55] peterdesmet commented on #13
Note: once we have cleared the redirect decision, we can tackle if content currently served by  http://www.tdwg.org/standards/638/ needs to be moved to the ac repository and how.

[2015-05-31 15:15] peterdesmet opened #14 "Can I rename the GitHub teams audubon-core and darwin-core"
Each time I move a standard to Github, I create a specific GitHub team to manage the standard (with admin access). I'd like to be consistent in naming these teams. So far I have ([full list](https://github.com/orgs/tdwg/teams)):

[code]

Does anyone have an objection if rename the `audubon-core` team to `ac` and `darwin-core` to `dwc` so they can be @mention ed as such?

/cc @tdwg/exec @tdwg/audub

[2015-05-31 15:56] peterdesmet commented on #6
Yes please. Can I already create a repo and move the old standard there (so the migration is done at least)?

[2015-05-31 16:02] ramorrismorris commented on #14
Seems ok to me

On Sun, May 31, 2015 at 11:15 AM, Peter Desmet notifications@github.com
wrote:

##

Robert A. Morris

Emeritus Professor  of Computer Science
UMASS-Boston
100 Morrissey Blvd
Boston, MA 02125-3390

Filtered Push Project
Harvard University Herbaria
Harvard University

email: morris.bob@gmail.com
web: http://efg.cs.umb.edu/
web: http://wiki.filteredpush.org
       http://wiki.datakura

[2015-05-31 16:31] tucotuco commented on #14
Good idea.

On Sun, May 31, 2015 at 1:02 PM, Bob Morris notifications@github.com
wrote:

[2015-05-31 18:30] peterdesmet commented on #14
Thanks, it's done: https://github.com/orgs/tdwg/teams

[2015-05-31 18:30] #14 closed, assigned to peterdesmet

[2015-05-31 18:34] peterdesmet commented on #12
@tdwg/infrastructure, who should I contact for this?

[2015-05-31 18:36] peterdesmet commented on #10
@tdwg/vocab is this "standard" related to the work at https://github.com/tdwg/vocab? Where should http://www.tdwg.org/standards/147/ be redirected to? Where should I move the content?

[2015-05-31 18:36] peterdesmet commented on #9
@tdwg/infrastructure, who should I contact for this?

[2015-05-31 18:36] peterdesmet commented on #7
@tdwg/infrastructure, who should I contact for this?

[2015-05-31 18:37] peterdesmet commented on #5
@tdwg/infrastructure, who should I contact for this?

[2015-05-31 18:42] peterdesmet opened #15 "Should we expand the scope of this repository?"
Should we expand the scope of this repository from stuff related to the tdwg.org website only, to all TDWG infrastructure? I personally think that's already the case.

If so, can I'll this repository from `tdwg.org` to `infrastructure`. This is also the name of the team managing this repo. GitHub will redirect all old links automatically.

[2015-05-31 19:53] baskaufs commented on #10
Yes, it is related.  It was never ratified and never will be because the Vocab Task Group is going to write a new draft standard that will replace it.  But I think that it would be reasonable to archive it within the https://github.com/tdwg/vocab repository, probably in its own subfolder or maybe a tag?  If you put the document(s) there, I'll create a link to them from the repository README.  You

[2015-05-31 19:59] baskaufs commented on #10
OK, I just checked and it looks like the "download" is just a single document.  I'm not sure what the convention should be since this is kind of an edge case.  There are a number of old or unfinished standards that aren't being actively maintained by a group, but this is probably the only one that is actively being re-written.  Maybe the thing to do would be to create a subfolder within the Vocab

[2015-05-31 20:07] baskaufs commented on #13
Well, I guess the question is, what do we mean when we declare a URI to be the "permanent URL" for a standard.  I would say at a minimum, it should always redirect somewhere.  http://www.tdwg.org/standards/638/ doesn't seem terribly "arbitrary" to me.  If I look at the URL (which I guess is a bad practice if you believe in opaque identifiers), it looks to me like this is the URL for a tdwg standar

[2015-05-31 20:35] baskaufs commented on #10
@tdwg/vocab I see that I should have probably "at mentioned" the vocab group in my previous comments on this issue, since they are related to the work of the group (vocabulary management).

I was trying to remember the extent to which the methods of archiving documents was an official part of the TDWG Process or whether there was actually no official process.  I found a page on "Documentation with

[2015-06-01 09:13] mdoering commented on #5
I'm happy to take this on. There are quite a bit of files to keep online. Especially the alias and output model files hosted here: http://rs.tdwg.org/tapir/
Those URLs need to be redirected as live tapir instance rely on them

[2015-06-01 09:14] mdoering commented on #5
Those URLs need to be redirected as live tapir instance rely on them

[2015-06-01 09:16] mdoering commented on #15
I support that. http://rs.tdwg.org should be covered here too

[2015-06-01 09:17] mdoering commented on #12
Gabi Dröge from the BGBM and copy in Walter Berendsohn & Anton Güntsch

[2015-06-01 09:22] mdoering commented on #13
if we could agree on the same approach for all standard repositories that would be good and make TDWG more accessible for new users.

Personally I think it would be great to have a README driven homepage for each standard and redirect all existing "permanent" standard urls to the new github repos - approach #1.

[2015-06-01 09:29] mdoering commented on #6
yes please

[2015-06-01 12:02] CynthiaParr-USDA commented on #15
I agree.  I saw that the team of people was already called "infrastructure".

[2015-06-01 12:15] baskaufs commented on #13
I think approach number 1 is fine.  If it is easily implementable, we should go for it.  My main concern is that if  http://www.tdwg.org/standards/638/ has been called the "permanent URL" for the standard, then we should continue to refer to it as the permanent URL for the standard even if it ends up redirecting elsewhere.  These URLs have been cited in [1], [2], [3], and who knows where else.  I

[2015-06-01 12:20] mdoering commented on #13
We could also consider to put the old, permanent tdwg URL for each standard into the top of the readme so its still very present. I dont mind keeping the old url, but I would like to start out on github as clean as we can

[2015-06-01 12:29] jmacklin commented on #13
I agree with the logic here and we get a little bit of insurance from a
semi-non-opaque identifier as at least it points to the TDWG name space...

I also wanted to say a big thanks to all for the migration effort over the
past few days!

Best,  James

On Mon, Jun 1, 2015 at 8:15 AM, Steve Baskauf notifications@github.com
wrote:

[2015-06-01 13:39] peterdesmet commented on #15
Ok, do I need to wait for more votes or go ahead?

[2015-06-01 13:48] jmacklin commented on #15
I agree as well!

JAmes

On Mon, Jun 1, 2015 at 9:39 AM, Peter Desmet notifications@github.com
wrote:

[2015-06-01 13:53] dkoureas commented on #15
+1

Kind regards,
Dimitris

[2015-06-01 14:48] baskaufs commented on #13
I agree with Markus - you could just say something like "Cite the URL of this standard as: [the old permanent URL].

Yes, thanks!!!  This is real progress!

[2015-06-01 15:17] timrobertson100 commented on #13
Should we document somewhere what the expected use of the release DOI is?
e.g. http://dx.doi.org/10.5281/zenodo.12694 and those on https://github.com/tdwg/dwc/releases

I presume we do this for redundancy purposes (i.e. should GitHub disappear, there is another organization hosting a copy) but a naive user would assume the DOI was the preferred citation - or at least I would.

[2015-06-01 15:30] ramorrismorris commented on #13
More generally, it would be good if there were a standard, prominent
mention \within/ the resource of what the preferred citation is. This is
common practice in scholarly publications, although people abuse it
routinely, not the least because the journals themselves insist on uniform
citation syntax within the bibliography.

On Mon, Jun 1, 2015 at 11:17 AM, timrobertson100 notifications@github.com

[2015-06-01 15:40] peterdesmet commented on #15
Done.

[2015-06-01 15:40] #15 closed, assigned to peterdesmet

[2015-06-01 16:56] sblum commented on #15
+1 from me, too.

I share Steve's sensibility that it would be good to maintain the permanent URL, but that might commit us to maintaining mod-rewrite on (or in front of) www.tdwg.org.  I think it would have been simpler if rs.tdwg.org had "responsibility" for serving all TDWG permanent resources, but it seems too late for that as some number of standards have been published with a permanent URL o

[2015-06-01 22:12] mdoering opened #16 "What to do with wiki content?"
Should we migrate TAPIR wiki pages to the [TAPIR wiki](https://github.com/tdwg/tapir/wiki)?
http://wiki.tdwg.org/twiki/bin/view/TAPIR/

What to do with the pdf based reports here:
http://www.tdwg.org/activities/tapir/

[2015-06-02 00:20] CynthiaParr-USDA commented on #4
It looks like there is a module already installed on our Typo3 called "RealURL" that allows us to configure the redirects. Stan is reading up on this and it requires Apache "Mod_rewrite"

[2015-06-02 00:27] CynthiaParr-USDA commented on #4
Suggest that @sblum  consult with @timrobertson100  and @mdoering on best approach to these redirects.

[2015-06-02 00:37] CynthiaParr-USDA opened #17 "Handle OJS content and turn off OJS"
- [x] Create OJS dumps for old proceedings etc.
- [ ] Upload those dumps to new site
- [ ] Turn off OJS

[2015-06-02 00:37] CynthiaParr-USDA commented on #17
Stan ran wget and pulled down docs as HTML or PDFs and has to check to see if he can find these.

[2015-06-02 00:46] CynthiaParr-USDA opened #18 "Establish complete list of Interest & Task Groups"
- [x] finish the task of porting charters of IG and TGs from old site into Typo3 pages
- [ ] add new IGs and Task groups (what are they where are their charters?)
- [ ] Add column linking to the most recent report with the date of late
- [ ] Add column for convener(s)?
- [ ] Need to make tickets for each group that needs it

[2015-06-02 00:54] CynthiaParr-USDA commented on #16
In this case (and the others associated with standards), the TAPIR wiki should be moved to the GitHub TAPIR wiki

Stan says the PDF based reports can stay where they are as they are associated with the TAPIR activity page is already migrated to the new Typo3 site.

[2015-06-02 00:56] CynthiaParr-USDA commented on #16
As far as the overall twiki content, it already migrated to another virtual server, 106. Should it be eventually be moved to the media wikifarm? Probably yes for that content not handled by GitHub wikis.

Probably not urgent right now.

[2015-06-02 00:58] CynthiaParr-USDA opened #19 "Archive Biodiversity Projects and Networks databases"
Old front end tools no longer work, but Stan has gotten databases dumps.  Need to set up a Typo3 page and explain and provide links.

[2015-06-02 01:00] CynthiaParr-USDA commented on #19
Or better yet, add the files to a new GitHub project and if someone wants to pick up on it that's great.

[2015-06-02 01:02] CynthiaParr-USDA opened #20 "Migrate 2006 conference site"
See here for explanation https://docs.google.com/spreadsheets/d/1B8eeRbEztPxCSBDvGVUFUBVIc9-CC4wn-mdcuGkjPuA/edit#gid=1213609062

Front page appears to be migrated already but the rest of the pages ???

[2015-06-02 01:11] CynthiaParr-USDA opened #21 "Determine fate of the GUID subfolder on www.tdwg.org/dav"
http://www.tdwg.org/dav/subgroups/guid/

[2015-06-02 01:12] CynthiaParr-USDA opened #22 "Determine fate of TAPIR content on www.tdwg.org/dav"
http://www.tdwg.org/dav/subgroups/tapir/

[2015-06-02 01:12] CynthiaParr-USDA commented on #5
There is also content on the dav server
https://github.com/tdwg/infrastructure/issues/22

[2015-06-02 01:13] CynthiaParr-USDA commented on #2
Also there is some content on the DAV server as described here
https://github.com/tdwg/infrastructure/issues/21

[2015-06-02 01:17] CynthiaParr-USDA opened #23 "Recreate missing news items in gap between old and new websites"
Old news items should have been migrated when the old site was first cloned for the new site.  There will be a few missing news items that were created since that time.  These should be manually re-created.

[2015-06-02 01:20] CynthiaParr-USDA opened #24 "Check with InField on how to create new news items"
doesn't seem to have a form currently in the place it used to be.

[2015-06-02 01:24] CynthiaParr-USDA opened #25 "Resolve last few Infield issues"
- [x] new user registration (talked to cip)
- [x] last of user payments via PayPal (charged but didn’t report back)
- [ ] MailChimp plugin supposedly has a manual trigger to push all new users into mailchimp, deletes dead address from Typo3 registry
- [x] figure out how to do news on the new site
- [x] enable the lost password functions

[2015-06-02 01:25] CynthiaParr-USDA commented on #25
Stan talked to Catherine about the first three of these.  There's a news extension but we don't see how it works yet.

[2015-06-02 06:23] peterdesmet commented on #19
I would put them as 3 files/directories in one repository on GitHub, but best to have others vote on this as well.

[2015-06-02 07:30] peterdesmet commented on #6
Repo has been created at https://github.com/tdwg/abcd, with abstract in README and download file (a single html file called `ABCD_v206.html`) dropped in the root. No other content to be migrated from http://www.tdwg.org/standards/115/, but there are still other ABCD files/website floating around, that could be consolidated in this repo as well.

A team [abcd](https://github.com/orgs/tdwg/teams/abc

[2015-06-02 08:26] mdoering commented on #19
+1 for github. The less typo3 we use the better

[2015-06-02 08:54] pmergen commented on #19
+1 agreed. Github proved convenient to use.

[2015-06-02 09:11] mdoering commented on #6
Contacted BGBM for expanding the team members

[2015-06-02 09:14] mdoering commented on #22
If I am right all the TAPIR DAV content is another view on the subversion repo which has been copied to the new tapir github repo already. In particular the specs are at https://github.com/tdwg/tapir/tree/master/docs

We just need to decide how to best expose them as the html is not rendered fine in raw mode.
But similar to dwc tapir has urls to be maintained under rs.tdwg.org: http://rs.tdwg.org/

[2015-06-02 09:14] #22 closed, assigned to nobody

[2015-06-02 09:22] mdoering commented on #16
Created issue to migrate TAPIR wiki content: https://github.com/tdwg/tapir/issues/3

[2015-06-02 10:50] CynthiaParr-USDA commented on #7
Try Gregor Hagedorn - gregor.hagedorn@mfn-berlin.de

[2015-06-02 10:54] CynthiaParr-USDA opened #26 "Update current Executive Members on tdwg.org page"
On new site, http://www.tdwg.org/about-tdwg/executive/

[2015-06-02 11:02] CynthiaParr-USDA opened #27 "Fix errors on Resources for Outreach page"
http://www.tdwg.org/about-tdwg/resources-for-outreach/

Donald Hobern's name (Presentations) links to executive page;  error in URL under Video clips - "http://tdwgng.tdwg.org/activities/tapir/)"  remove trailing ) from the href

[2015-06-02 11:04] CynthiaParr-USDA opened #28 "Move 2006 meeting notes from tdwg.org to GitHub"
Most likely the executive will start archiving meeting notes in their GitHub project

http://www.tdwg.org/about-tdwg/executive/meetings/
http://www.tdwg.org/about-tdwg/executive/meetings/st-louis-14oct2006/

[2015-06-02 11:05] CynthiaParr-USDA opened #29 "Update TDWG FAQ"
broken links:  FAQ3 -  GBIF nodes;  FAQ 9 - https://forge.gridforum.org/sf/sfmain/do/home   and   http://web1.jcp.org/en/procedures/jcp2    Also yellow boxes around some text ("interest group")

[2015-06-02 11:09] CynthiaParr-USDA opened #30 "Update getting started page"
http://www.tdwg.org/getting-started/
Donald Hobern's name (A TDWG overview) links to executive page;  Text in bottom table (Michael Giddens, Cynthia Parr) not visible due to colour

[2015-06-02 11:16] CynthiaParr-USDA commented on #18
From: http://tdwgng.tdwg.org/activities/ list of activities to port. Check box when main description page is ported, make new tickets for other links/content need work (e.g. wiki)
- [x] Biological Descriptions Interest Group
- [x] GIG   Geospatial Interest Group
- [x] IMG   Imaging Interest Group
- [x]   MRTG       Multimedia Resources Task Group
- [x] ISIG  Invasive Species Interest Group
- [x] L

[2015-06-02 11:17] CynthiaParr-USDA commented on #18
New groups to add:
- [x] Annotations IG
- [ ] Vocab Maintenance Spec  TG https://github.com/tdwg/infrastructure/issues/42
- [ ] Species information IG https://github.com/tdwg/exec/issues/10
- [ ] Biodviersity services and Clients IG https://github.com/tdwg/exec/issues/9 -- needs wiki/mailing list links
- [x] IG Data quality with
- [x] TG1 - Framework (Allan Koch Veiga)
- [x] TG2 - Tools, services

[2015-06-02 11:23] CynthiaParr-USDA opened #31 "Work with IG & TG conveners to update their content"
- [ ] Ensure that TG and IG convenors have backend user status and have rights to the right nodes
- [ ] Each must confirm that they have working account
- [ ] Ask each to upload annual reports either to GitHub or Typo3
- [ ] Update date of last report and link to it for each IG/TG

[2015-06-02 13:34] peterdesmet commented on #19
How should we (short)name that repo? In what format can the exported data be delivered (3 flat csvs)?

[2015-06-02 14:27] peterdesmet commented on #13
Thanks all for the input. I take away, for standards in general:
- Permanent URL is maintained by TDWG
- Permanent URL should redirect to GitHub repository
- Permanent URL should be listed clearly in README
- Preferred citation (with permanent URL) should be mentioned in README

Correct?

If so, I'd like to document these guidelines somewhere. Probably best at vocab??

[2015-06-02 14:27] peterdesmet commented on #13
For AC in specific:
- http://www.tdwg.org/standards/638/ should redirect to https://github.com/tdwg/ac
- Should the content at http://www.tdwg.org/standards/638/download/ (not final version yet) be moved to ac repo or is this already the case?
- Do you want to copy something from the abstract at http://www.tdwg.org/standards/638/ ?

[2015-06-02 14:39] baskaufs commented on #13
I don't see anything in the AC repo except a folder called "wiki".  So I think the content needs to be moved.

I can document the guidelines in vocab.  But since they don't really have any force other than a suggestion at this point, I think that if you implement them consistently that would set a good precedent.

[2015-06-02 14:42] peterdesmet commented on #10
In the future, these intermediate ratification steps are probably best supported as releases of the repository. See https://github.com/tdwg/dwc/releases for an example.

Regarding the download file: yes, having it as a subfolder is one option, but then it keeps lingering around. Another option is to:
1. Add it to a branch of the repo
2. Create a release from the branch (= zip)
3. Remove the branch

[2015-06-02 15:03] baskaufs commented on #13
Created this document:
https://github.com/tdwg/vocab/blob/master/standards-permanent-url.md

[2015-06-02 15:04] ramorrismorris commented on #13
On Tue, Jun 2, 2015 at 10:39 AM, Steve Baskauf notifications@github.com
wrote:

##

Robert A. Morris

Emeritus Professor  of Computer Science
UMASS-Boston
100 Morrissey Blvd
Boston, MA 02125-3390

Filtered Push Project
Harvard University Herbaria
Harvard University

email: morris.bob@gmail.com
web: http://efg.cs.umb.edu/
web: http://wiki.filteredpush.org
       http://wiki.datakurator.net
       h

[2015-06-02 15:10] peterdesmet commented on #13
@ramorrismorris Yes, content of zip.

@baskaufs I just created this document in infrastructure: https://github.com/tdwg/infrastructure/blob/master/migration/guidelines-for-standard-repositories.md, which expands on your document. I don't mind in which repo to keep it, but best to have only one.

[2015-06-02 15:13] baskaufs commented on #13
Yes

Bob Morris wrote:

##

Steven J. Baskauf, Ph.D., Senior Lecturer
Vanderbilt University Dept. of Biological Sciences

postal mail address:
PMB 351634
Nashville, TN  37235-1634,  U.S.A.

delivery address:
2125 Stevenson Center
1161 21st Ave., S.
Nashville, TN 37235

office: 2128 Stevenson Center
phone: (615) 343-4582,  fax: (615) 322-4942
If you fax, please phone or email so that I will know to

[2015-06-02 15:27] baskaufs commented on #13
@peterdesmet Maybe it would be best to take the permanent URL recommendations and add them to your document and I will get rid of mine.  The scope of the vocab TG is to write a standard for vocab management and I think these guidelines are implementation details that won't be put in the standard.  After you add the points to your document, I'll delete mine and then make a reference to it in the is

[2015-06-02 15:44] baskaufs commented on #10
I think you should implement this as you think best.  I'm not familiar enough with how to do all of these GitHub functions, so if you can just put the old standard within the vocab repo in a manner consistent with what you've done for other standards, that would be great.  If I know where it ends up, I can write an explanation of what it is and link to it in the README

[2015-06-02 20:31] peterdesmet commented on #10
Information has been migrated. Please review at: https://github.com/tdwg/vocab/issues/10.

I'll close this issue if all items on the task list are done.

[2015-06-02 20:46] peterdesmet commented on #13
@baskaufs, I've updated [my document](https://github.com/tdwg/infrastructure/blob/master/migration/guidelines-for-standard-repositories.md), so you can go ahead.

[2015-06-02 21:04] peterdesmet commented on #13
Regarding the content at http://www.tdwg.org/standards/638/, just like for `vocab`, I've created a branch on `ac` and described it in this issue: https://github.com/tdwg/ac/issues/91

[2015-06-02 21:22] baskaufs commented on #13
My redundant document has been deleted and I've referenced [your document](https://github.com/tdwg/infrastructure/blob/master/migration/guidelines-for-standard-repositories.md) in the [vocab issue 9](https://github.com/tdwg/vocab/issues/9).

[2015-06-03 07:22] peterdesmet opened #32 "Decide on format for preferred citation for standards"
As outlined in [this guidelines document](https://github.com/tdwg/infrastructure/blob/master/migration/guidelines-for-standard-repositories.md), we will add a preferred citation for each standard in the README. The preferred citation (with updated release number and year) can also be listed for each release. This citation should at least include:
- permanent URL
- name of the standard

and prefera

[2015-06-03 09:14] mdoering commented on #4
We also need to maintain rewrite rules for the rs.tdwg.org domain. These are more complex as they are also used to resolve term URIs, for example http://rs.tdwg.org/dwc/terms/organismName

I would propose we maintain a proper apache rewrite rule file for each domain in this project that we then can just use in the apache configs? I have uploaded the existing apache virtual host files from the curr

[2015-06-03 12:55] baskaufs opened #33 "Where are the TDWG Ontologies going to go?"
The TDWG Ontologies are currently residing at https://code.google.com/p/tdwg-ontology/ which will be shut down in the near future.  Sections 2.4 and 2.6.1 of the [VoMaG Report](https://github.com/tdwg/vocab/blob/master/gbif_TDWG_Vocabulary_Management_Task_Group_en_v1.0.pdf) are devoted to discussion and recommendations regarding the fate of the TDWG ontologies.  The recommendations related to the

[2015-06-03 13:22] jmacklin commented on #33
I agree with Steve that now is a good time to accomplish this while we are at it assuming our very generous migrators can spare the time. His list of action items seem reasonable.

Thanks also to Steve for being proactive and offering to help out :-)

Best,  JAmes

[2015-06-03 14:26] mdoering commented on #33
+1 Steve. @peterdesmet if you need help with migration let me know. In any case please already create the repo & team. And again we will need to patch the rewrite rules for [rs.tdwg.org](https://github.com/tdwg/infrastructure/blob/master/vhosts/rs.tdwg.org.conf#L117), see https://github.com/tdwg/infrastructure/issues/4. Ill create an issue once the new repo exists

[2015-06-05 06:53] peterdesmet commented on #32
Blocks:
- https://github.com/tdwg/infrastructure/issues/10 / https://github.com/tdwg/vocab/issues/10
- https://github.com/tdwg/infrastructure/issues/12 / https://github.com/tdwg/abcd-dna/issues/1
- https://github.com/tdwg/infrastructure/issues/13 / https://github.com/tdwg/ac/issues/91
- https://github.com/tdwg/infrastructure/issues/5
- https://github.com/tdwg/infrastructure/issues/6

Affects:
- ht

[2015-06-05 07:19] peterdesmet commented on #33
Ok! Since everything is TDWG, I've named the repo and group `ontology`, not `tdwg-ontology`: https://github.com/tdwg/ontology. @mdoering, you're now member of the team.

Since all info is on Google Code, a migrator script should be used to transfer files, commit history and issues, which is also why I didn't initialize the repository with a README. @mdoering, would you be able to migrate?

Also, I

[2015-06-05 08:31] mdoering commented on #33
I have migrated the google code svn to the github repo. There was a tag for the latest version already created by tuco in 2009 so I did not create another one.

[2015-06-05 08:33] mdoering commented on #33
@baskaufs I have added you to the ontology team. Could you create individual issues in the ontology repository for the refactoring tasks you listed at the start of this issue?

[2015-06-05 10:50] baskaufs commented on #33
Yes,thanks.   I'm on it.

[2015-06-05 15:12] peterdesmet commented on #7
Contacted.

[2015-06-10 10:24] pmergen commented on #32
Hi
I would be in favor of a citation format where TDWG is of course mentioned, but also the names of the co-authors (but as those may vary in time, has to keep updated).
Walso need some flexibility as some journals have standard citation formats rules.

in some cases additional to the citation only, you may have to add a request to acknowledge other contributing institutions or funding bodies (who

[2015-06-10 10:26] pmergen commented on #31
Who will do this ? for Now not assigned to anyone ?

[2015-06-10 10:28] pmergen commented on #30
Quite some information here is indeed out dated. The issue is also linked to new TDWG website ?

[2015-06-19 13:41] CynthiaParr-USDA commented on #25
Stan, we need an update on this ticket...

[2015-06-19 13:55] CynthiaParr-USDA commented on #31
James will help in July.
Pat can do with help.

[2015-06-19 13:57] jmacklin commented on #31
James can help in July.

[2015-06-19 17:05] CynthiaParr-USDA commented on #33
Is this issue assigned to anybody? Is there anything left to do?

[2015-06-19 19:12] mdoering commented on #33
The remaining issues are listed in the ontology repo. I have created a milestone to group all issues left to do before the ontology github migration can be considered completed:
https://github.com/tdwg/ontology/milestones/Github%20migration

[2015-06-19 19:12] #33 closed, assigned to nobody

[2015-06-19 19:29] CynthiaParr-USDA commented on #25
stan says payments should be working. I will test.

[2015-06-19 19:30] CynthiaParr-USDA opened #34 "Get more recent testimonials for the website"
The one that is there is from 2007

[2015-06-19 20:04] CynthiaParr-USDA commented on #31
The activities page is here http://tdwgng.tdwg.org/activities and Stan says it is ready with the old groups, but some of them may need to have links rerouted to GitHub.  We need to work with conveners to be sure the right links are there.

Then, we need to create the new activities pages and add a link to those activities to the table.

Also need to add the "Recent report" column.

[2015-06-23 09:23] pmergen commented on #31
Hi

I have following question from the Species Information Interest Group in 2015 and where to put their Charter and have a group in GitHUb see hereunder.

Can you confirm that the way to go  is

1 creating a new repository in Github TDWG with the "TDWG Species Information - TSI" that we can thus call TSI
2. their charter text (which is thus a new one) has to go online on the new website (it was n

[2015-06-23 18:55] CynthiaParr-USDA commented on #31
I don't think IGs need to use GitHub. How about using the templates on
typo3?
On Jun 23, 2015 5:23 AM, "pmergen" notifications@github.com wrote:

[2015-06-25 05:03] sblum commented on #25
- Individual membership payments work and are now showing on the membership reporting page.  **I need a volunteer to test the payment an institutional membership through PayPal** (with a credit card).
- Email from the server is now working.  Dependent functions (now working) include:  forgot password;  newly registered user can confirm email and become regular_user.  (We are **not** requiring that

[2015-06-25 05:35] pmergen commented on #25
Hi
For the institution would suggest GBIF. Andrea hahn had recently contacted us.
Pat

[2015-06-25 11:55] CynthiaParr-USDA commented on #32
Suggestion: use Biodiversity Information Standards (TDWG) as the publisher.

Provide a bibtex formatted text file.

[2015-06-25 11:55] CynthiaParr-USDA commented on #32
Need to resolve in the next few days.

[2015-06-25 12:03] peterdesmet commented on #32
Deadline: July 2

[2015-06-25 12:08] peterdesmet commented on #1
There was a consensus on this during exec call, so I will go ahead and do this.

[2015-06-25 12:30] pmergen commented on #32
Hi
For online content citations date accessed is a standard request from many journals and others. Would thus recommend we suggest to have it as it is a best practice advise.

[2015-06-25 12:32] pmergen commented on #1
Ok let's see with @Stan to do it on the new website.

[2015-06-25 12:35] peterdesmet commented on #32
Since the citation indicates the release date, a `date accessed` doesn't provide much more information, so I would not include this.

[2015-06-25 12:40] pmergen commented on #32
yes that is what I meant not to put in in the citation example.

but if room, indicated that some journals request it in an additional sentence  . but that is my "helpdesk" side.

[2015-06-25 12:43] peterdesmet commented on #32
I see. :smile: As discussed in the call, it's a preferred citation. A journal will probably have other requirements regarding the format, but at least we indicate what we would like to have in there.

[2015-06-25 13:23] dkoureas commented on #32
@peterdesmet  Following today's XC meeting, please find below an example bib record for the Darwin Core Standard. I set the reference type to 'misc' as no other type seems to match for referencing a Standard. I also chose to add the release date to the 'edition' field. Any reference manager software can parse this and deliver a citation format according to any common format.

@misc {DarwinCore2014

[2015-06-28 23:30] sblum commented on #30
I fixed the text color problem in the table, also background color for one row, and partial text surrounded by an anchor tag (<a>), on the new site.

I have not updated any of the content.  I think that's a broader issue, and should be coordinated with updating the basic recommendations on the homepage.  I think those need to be done by a group representing a TDWG consensus, not a single person's

[2015-06-28 23:30] #30 closed, assigned to nobody

[2015-06-29 11:55] peterdesmet commented on #1
Should this be done on tdwg.org or QA one (cannot remember the URL)?

[2015-06-30 13:00] baskaufs commented on #33
I started on editing the documents but ran out of time before I went on vacation.  I'm back onto it now, see https://github.com/tdwg/ontology/issues/10 @mdoering @csparr

[2015-06-30 14:44] ctsakem commented on #33
sorry to my matest reaction due to the bad internet network connetion in my city.I I be able to migrate
thank
 TSAKEM Samuel Christian
Enseignant/Chercheur
Chef Services des Etudes et Stages
Ecole de Faune de Garoua
BP : 271 Garoua-Cameroon
Tél: 00237-97692181,  Bureau: 22271838 Domicile: 22846955Email: ctsakem@yahoo.fr, Skype: ctsakem http://clone.concordia.ca/rweladji/students/Samuel.html    

[

[2015-07-04 13:04] baskaufs commented on #32
Reference: [Recommended practices for citation of data published through the GBIF network](http://www.gbif.org/resource/80761)

[2015-07-22 01:41] CynthiaParr-USDA commented on #32
Is there anything left to do on this @peterdesmet ?

[2015-07-22 01:44] CynthiaParr-USDA commented on #24
I have figured it out. Click on News Item in the list/tree of pages. Look for the icon with the green plus to the left of the column headers (ID:   Title:  Author: Category:   Date/Time:  Archive date:   Last Change)

I copied over all the news items issued since the content was copied to tdwgng.tdwg.org.

[2015-07-22 01:44] #24 closed, assigned to nobody

[2015-07-22 01:45] CynthiaParr-USDA commented on #23
Did this today.

[2015-07-22 01:45] #23 closed, assigned to nobody

[2015-07-22 01:58] AaronWilton commented on #32
Sorry to have missed the conversations in the meeting(s), so hope this doesn't re-open/duplicate debate.

The initial question was around a preferred citation format, but that now seems to have translated into the preferred fields that should be included in the bibliographic information.  Was discussion still given to providing a recommended citation format so there is consistency across TDWG stan

[2015-07-22 02:05] CynthiaParr-USDA commented on #26
Updated to reflect current membership of the executive. http://tdwgng.tdwg.org/index.php?id=675

[2015-07-22 02:05] #26 closed, assigned to nobody

[2015-07-22 02:06] CynthiaParr-USDA commented on #25
Chuck said that he tested the institutional payment.

[2015-07-22 02:13] CynthiaParr-USDA commented on #1
work should all be done on tdwgng.tdwg.org -- here is what I see to do:
- [x] Merge the Current and Current 2005 lists
- [ ] Implement the redirects as summarized in https://github.com/tdwg/infrastructure/issues/4

[2015-07-22 02:16] CynthiaParr-USDA commented on #19
Stan, can you provide the exported data to Peter to set up the repo?
the long names are Biodiversity Information Projects of the World and Biodiversity Information Networks Database
so short name for the combined repo could be
Biodiv-projects-networks

[2015-07-22 07:01] mdoering commented on #1
Should tdwgng.tdwg.org be up already?

[2015-07-22 13:36] CynthiaParr-USDA commented on #1
it hasn't replaced tdwg.org yet, if that's what you mean @mdoering.

There is a list of steps to take before the cutover here: https://github.com/tdwg/infrastructure/issues/25 if you can help make sure this is a good list, we will discuss in meetings with Stan on Friday. Much of the clean up work can be done after the switch.

[2015-07-22 21:16] mdoering commented on #1
@csparr  Ah, the site is unreachable while Im in our VPN. Something weirdly configured with the domain. All good, ignore me. I never saw the new site before, great to finally see the progress!

[2015-07-23 12:02] peterdesmet commented on #32
I'd like to close this discussion. To keep things simple, I'll add `Biodiversity Information Standards (TDWG)` as a publisher to the preferred citation. The preferred citation will be indicated as a blockquote at the end of the README file of a standard, but I will not add a bibtex to the repository (because then we need to maintain two files). So, an example of a preferred citation is:

And if th

[2015-07-23 12:08] peterdesmet commented on #6
Release created at https://github.com/tdwg/abcd/releases/tag/2.06

[2015-07-23 12:08] #6 closed, assigned to peterdesmet

[2015-07-23 12:20] peterdesmet commented on #32
Updated to use the word `version` instead of `release` (as suggested by @timrobertson100)

[2015-07-23 12:27] peterdesmet commented on #7
Release created at https://github.com/tdwg/sdd/archive/master.zip

[2015-07-23 12:27] #7 closed, assigned to peterdesmet

[2015-07-23 12:35] peterdesmet commented on #2
Release created at https://github.com/tdwg/guid-as/releases/tag/2010-09, still need to find team members.

[2015-07-23 12:35] #2 closed, assigned to peterdesmet

[2015-07-23 12:36] peterdesmet opened #35 "Who will join the GUID team to maintain GUID applicability statements"
Currently, there is no one on the @tdwg/guid team that is managing the [GUID and LSID applicability statements](https://github.com/tdwg/guid-as). We need at least one person. Any suggestions or volunteers?

[2015-07-23 12:36] #32 closed, assigned to peterdesmet

[2015-07-23 12:47] peterdesmet commented on #5
@mdoering is the repository close to being ready for creating a first release? I can add a preferred citation if you want, just need to know the authors.

[2015-07-23 13:19] peterdesmet commented on #5
@mdoering, I noticed there was a citation in the README. I have updated it to reflect the standard preferred citation.

From:

To:

[2015-07-23 13:31] peterdesmet commented on #11
@mdoering, where are we in migrating http://www.tdwg.org/standards/312 to https://github.com/tdwg/ncd?

[2015-07-23 13:35] peterdesmet commented on #9
@tdwg/infrastructure, can anyone provide me with background information on the "Definition of the Delta Format" standard? I assume I should migrate this to GitHub, but who will maintain it there or can make decisions? @sblum do you know?

[2015-07-23 13:36] peterdesmet commented on #8
@tdwg/infrastructure, can anyone provide me with background information on the "Taxonomic Concept Transfer Schema" standard? Who should I contact to make decisions and manage the standard on GitHub?

[2015-07-23 13:42] peterdesmet commented on #31
Decision in [last meeting](https://github.com/tdwg/exec/blob/master/meetings/2015-06.md):

1. So, we'll first need to make sure that the pages reflect the current situation (can be done before or after migration of website).
2. Then we need to assess which groups are still active
3. Then we need to know their requirements for an online presence
4. Then we can decide the best way to implement this

[2015-07-23 17:47] mdoering commented on #8
Jessie Kennedy and roger hyam are good starts

[2015-07-23 17:48] mdoering commented on #9
As a prework to SDD Id ask that working group. Walter Berendsohn might also know

[2015-07-23 17:50] mdoering commented on #11
I havent done much yet, but ill give it another shot this weekend. With finalizing tapir

[2015-07-24 12:33] sblum commented on #19
Yes, I can provide those.  They were actually just tables in the MySQL DB that underpins our site, and they've been migrated over to the DB on the new site.  I think both CSV and SQL inserts should be deposited.  (I have had much less trouble getting SQL to work if values contain commas and quotes.)  Might be good to also include a separate metadata file for each table.

[2015-07-24 13:49] sblum commented on #8
This was done under the "Taxonomic Names and Concepts" Interest Group, and Rich Pyle is currently the convener.  Jessie and Roger are most knowledgable about how the current standard was produced.

[2015-07-28 13:21] CynthiaParr-USDA opened #36 "Achieve the cut-over from old website to new website"
Stan will coordinate with

Tim
Andreas (Andre?)
Markus

There's a list of things to do imbedded in another ticket but I can't find it now.

[2015-08-04 12:44] pmergen commented on #31
Hi

I have created a mailing list on Chimp (taken from the names on the GBIF former one, "convener@tdwg.org)  and other names we have added. there are conveners or contacts for the IG and TG.  Need help to check here : https://us9.admin.mailchimp.com/lists/members/?id=656501#p:1-s:100  that I did not forget anyone.

In future to be consistent would like to use this Chimpmail distribution list to r

[2015-08-04 13:01] gkampmeier commented on #31
YEA!!!!  —g

http://www.inhs.illinois.edu/~gkamp

On Aug 4, 2015, at 7:44 AM, pmergen <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi

I have created a mailing list on Chimp (taken from the names on the GBIF former one, "convener@tdwg.orgmailto:convener@tdwg.org) and other names we have added. there are conveners or contacts for the IG and TG. Need help to check here : https

[2015-08-04 13:03] pmergen commented on #31
I have sent out to the list and asked them to report to @gkampmeier asap if they come to TDWG 2015 and want a session/potential conflicts. and for the reports of the activity of their groups. as especially the first question is urgent. if you spot that I forgot someone, let me know and we will resend to this person specifically and add him/her to chimp.

Pat

[2015-08-04 15:05] pmergen opened #37 "NCD group migration to new TDWG site"
1st suggestion discussed with Wouter Addink on NCD group : This group is not active any more and could be archived as former group. The task discuss here is now taken on on a larger scale with GRBIO (http://grbio.org/) . the suggestion is to contact David Schindel and ask if for NCD a link can be put on the TDWG website from the NCD page to GRBIO and work on revive the Natural Collection Descripti

[2015-08-04 15:14] pmergen opened #38 "Genomic Biodiversity Working Group GBWG on New TDWG Website"
This group was not on the former TDWG website and needs to be created on the new one.
The charter text was approved. We need this text and see if it needs some updates and upload it to the new website ?
this seems to be the latest version I found : https://docs.google.com/document/d/1KI1cZ8Onw6Kq0nY5suTWtNo5occQ7ON0kc6N0AUrZMI/edit?hl=en_US
Need help to review and confirm that this is the text to

[2015-08-05 14:37] CynthiaParr-USDA commented on #25
The only thing here supposedly undone is the MailChimp push. If that is still an issue, please create a new ticket.

[2015-08-05 14:37] #25 closed, assigned to nobody

[2015-08-05 14:38] CynthiaParr-USDA commented on #36
This is done!

[2015-08-05 14:38] #36 closed, assigned to nobody

[2015-08-05 14:38] CynthiaParr-USDA opened #39 "Species Information Interest Group"
- [x] Create folder of pages from the sample
- [x] Modify titles etc. for this IG
- [x] Set up charter page
- [x] Make the page public
- [x] Make sure that convener has access to make changes
- [x] Add to the Activities summary table

[2015-08-05 14:40] csparr commented on #39
- [x] Create folder of pages from the sample
- [ ] Modify titles etc. for this IG
- [ ] Set up charter page
- [ ] Make the page public
- [ ] Make sure that convener has access to make changes
- [ ] Add to the Activities summary table

[2015-08-05 15:24] pmergen opened #40 "TNC Taxonomic Names and Concepts Group"
Richard Pyle confirmed to remain Convener
he will check page at http://www.tdwg.org/activities/tnc/
and sent updates as needed

[2015-08-05 15:30] pmergen opened #41 "RDF TG"
Convener, is Joel Sachs. Not on http://www.tdwg.org/activities/ yet.  have to work together to add the page and charter.

[2015-08-05 15:31] pmergen opened #42 "Vocabulary Maintenance Specification Interest group"
- [ ] Create folder of pages from the sample
- [ ] Modify titles etc. for this IG
- [ ] Set up charter page
- [ ] Make the page public
- [ ] Make sure that convener has access to make changes
- [ ] Add to the Activities summary table

Steven J. Baskauf is convener, group not yet on the http://www.tdwg.org/activities/ page. Need to add and make sure to have latest version of Charter and other info

[2015-08-05 18:59] CynthiaParr-USDA commented on #18
- [ ] TAPIR is a task group so should appear nested in an interest group?

[2015-08-06 07:21] pmergen commented on #41
.  The RDF TG has been operating out of https://code.google.com/p/tdwg-rdf/ and the charter is there at https://code.google.com/p/tdwg-rdf/wiki/CharterOfTG . Joel says he's going to move the RDF TG stuff over from Google Code to GitHub.

[2015-08-06 07:22] pmergen commented on #42
The TG charter is there at https://github.com/tdwg/vocab/blob/master/vmg-charter.pdf .

[2015-08-06 07:25] pmergen opened #43 "Invasive Species IG"
Annie Simpson confirmed as chair.
she will not come to TDWG 2015
Page at http://www.tdwg.org/activities/invasives/
may need to be checked for updates

[2015-08-06 07:27] pmergen commented on #38
John Deck and Ramona Walls have revised text in google doc. has to be created as a new entry in activities on the TDWG site

[2015-08-06 07:39] pmergen commented on #31
Hi
I would like to move this issue and all the related from infrastructure to a new repository I just created for IG and TGs on the new TDWG website to ease the follow up as here they are too mixed up with other things. I do not see an obvious function on how to move issue to another repository in the interface ? is there a quick way to move them ?
thanks

[2015-08-06 14:58] pmergen commented on #18
I am getting confused on how to follow this up ?  I had started to create an issue per IG or TG under infrastructure so I can see and follow what there is to do, still to do for each group and have the people concerned help out.  now there is also this list and the issues on the IGs are all over the place in infrastructure ? There is a Github issue where this work to check all the iG and coordinat

[2015-08-06 15:17] CynthiaParr-USDA commented on #18
this ticket summarizes. the other tickets are for each group. stan offered to help, i should have reassigned tickets. we should avoid creating another repository, I don't mind having them all in infrastructure.

[2015-08-06 15:21] CynthiaParr-USDA commented on #31
There is no quick way to move issues to different repositories and I really think anything to do with web content belongs here.  I can't check too many repositories.  You can always use tags to easily filter things so you won't see the other issues.

If this is about executive business, use the tdwg/executive repository.

[2015-08-06 15:37] pmergen commented on #31
Thanks, not it is not executive business and would be a reflection for all users of the tdwg Github in our infrastructure and get opinions and advice from people that are maybe more familiar with the system.

.It is just we get now many Git issues and repositories with overlapping discussions and follow up assignments. I was just wondering if afterwards we notice that some issues could be regroupe

[2015-08-06 18:29] CynthiaParr-USDA commented on #31
I see -- you want it to be a discussion area for all IG and TG personnel.

Issues are easily grouped with Labels. I just made one for IG/TG -- if it has to do with the web content I think it still belongs here. If it has to do with other business of IG/TG, It is okay if you want them to go to that other repository.  Each IG/TG should be responsible for their own GitHub repository, but not all will

[2015-08-06 18:37] CynthiaParr-USDA commented on #37
Let's list the group as not active, and I agree it would be helpful to put link to GRBio.  It may become active in the future. For this reason, we are suggesting that all inactive groups appear on the activities table. I guess inactive groups should not appear in the side bar?

If you want the executive to work on reviving it, you could make a ticket in the executive group, if you want others to s

[2015-08-06 18:42] CynthiaParr-USDA commented on #18
Also, please not that I am assigned to this ticket because it is my job to make sure no group is left out of t the website.  I am not contacting any conveners -- that's your ticket.  I am also not volunteering to make all these pages. I'm just coordinating.  In my opinion, if there is no additional work needed for a group you don't need to make a ticket for it.

[2015-08-06 18:44] CynthiaParr-USDA commented on #38
I started to make the new page but have not finished it. Waiting to hear from Stan how the process is supposed to go.
- [x] Finish page with charter
- [x] Add to activities page

[2015-08-06 18:47] CynthiaParr-USDA commented on #42
I added the subtask list to the first comment so progress bar shows up.

[2015-08-07 07:23] peterdesmet commented on #18
@pmergen, you cannot move issues from one repository to the next. What I would do is create a **milestone** in this `infrastructure` repository (as it is related to infrastructure) to group all issues related to `IG/TG`. That way it's easier to see and follow up all issues related to that task, since milestones always indicate how far you are from finishing it. Here are the current milestone in in

[2015-08-07 07:30] peterdesmet commented on #37
We need a guideline on what to do with inactive groups. Keeping them around in the main activities list (and especially sidebar) will clutter things, but we should archive them somewhere. Most conveniently would be to archive them in typo3, as that is where they are created, so it's just a matter of moving a page.

[2015-08-07 07:33] peterdesmet commented on #41
I assume this would be a GitHub repository under the TDWG organization? I can migrate it if necessary (note: this should probably be done before August 25, when repos on Google Code become read-only). What is Joel's GitHub name?

[2015-08-07 07:43] peterdesmet commented on #9
@tdwg/sdd @WalterBerendsohn, I'm tasked with migrating the "Definition of the Delta Format" TDWG standard to GitHub. Can you provide me with some information regarding its status and who should be in charge of maintaining it and making decisions? Otherwise we have a dead standard on our hands. :-)

[2015-08-07 07:46] peterdesmet commented on #19
@sblum, how flat are those tables? I'd prefer CSV as you can actually maintain these on GitHub, but it only makes sense if the data is rather flat. I can quite quickly just dump anything on GitHub, but it would be nice to clean it up a bit (though I'd only be able to do that early October). @mdoering care to help at that point?

[2015-08-07 07:47] sblum commented on #19
The data underlying each "DB" is just one table.

[2015-08-07 07:50] sblum commented on #9
Actually, I think Gregor Hagedorn might be a better person to ask.  Also, Walter is on a motorcycle vacation for much of August.

[2015-08-07 07:50] peterdesmet commented on #19
Ok, a CSV file would be great then (you can use a tabbed one to avoid problems with comma, but a good export program should escape with "quotes" anyway). You can email it to me.

[2015-08-07 07:51] peterdesmet commented on #9
@gmhagedorn, I'm pinging you regarding the "Definition of the Delta Format". Please see this comment for my actual question: https://github.com/tdwg/infrastructure/issues/9#issuecomment-128625256

[2015-08-07 07:59] peterdesmet commented on #8
Are any of them on GitHub? If not, can you send me their email addresses?

[2015-08-07 08:18] mdoering commented on #8
Rich: https://github.com/deepreef

[2015-08-07 08:20] sblum commented on #8
Rich is on expedition in Pohnpei (island in the Pacific).  Back in a week or two, I think.

[2015-08-07 09:30] gmhagedorn commented on #9
Dear Peter,

thanks for tackling this! Just coming back from my own family holidays.

DELTA, although an old format, still has relevance so I vote for
maintaining the standard.

Mike Dallwitz, writing from Mike Dallwitz m.j.dallwitz@netspeed.com.au is
still active, have you been able to reach him?

I am willing to take on a co-responsibiltity for DELTA if Mike agrees.

Best

gregor

On 7 August 20

[2015-08-07 12:37] CynthiaParr-USDA commented on #37
Definitely they should be taken off the sidebar, but I would propose that we make an "inactive" table on this page so that people can find them without having to Google http://www.tdwg.org/activities/

[2015-08-07 12:41] CynthiaParr-USDA opened #44 "Fix problems with accessing old proceedings from OJS"
I think these are in OJS and that's why they are currently inaccessible. I thought the plan was to keep a PDF or something so that even if they are not interactive they can still be read.

I was looking for an abstract yesterday from 2009 and links led me to a dead Typo3 link.
From Google:
Volk, Gayle, USDA ARS - TDWG
www.tdwg.org/.../view?...Vol...
Biodiversity Information Standards TDWG
Volk, Ga

[2015-08-07 13:12] gkampmeier commented on #44
Given that when we were using the Proceedings as peer-reviewed abstracts, I would be many people used specific links in their cvs to point to these. Would a longer-term solution be to seek DOIs and/or work with BHL (and BioStor?) to give these more permanent links?

Gail

http://www.inhs.illinois.edu/~gkamp

On Aug 7, 2015, at 7:41 AM, Cyndy Sims Parr <notifications@github.com<mailto:notifications

[2015-08-07 13:17] CynthiaParr-USDA opened #45 "Improve "About us""
From Gail K:
This year in particular, we have had a larger than normal proportion (or so it seemed to me) of abstracts submitted that were like ones for scientific papers, full of discipline-specific jargon and often statistics. Now the reasons for this could also be language barriers (copping or only slightly revising something already written to submit), but I think fundamentally, many newbies d

[2015-08-07 13:51] peterdesmet opened #46 "All standards pages redirect to standards overview"
I discovered a problem on the standards page (http://www.tdwg.org/standards/, which I'm in the process of updating). If you click any of the standards, you get shown the same overview page, instead of the standard (cover) page (try with http://www.tdwg.org/standards/115/). That means the standard pages are currently unreachable. This is probably due to the migration, as it's still working fine on

[2015-08-07 14:21] peterdesmet commented on #1
The page is now one big table: http://www.tdwg.org/standards/, with broken links (because of #46). For those where we can implement redirects, we should.

[2015-08-07 14:22] peterdesmet commented on #46
Just updated the standards page to one table: http://www.tdwg.org/standards/ The problem remains, and since I updated the URL for Darwin Core to permanent http://www.tdwg.org/standards/450, that one no longer works either.

[2015-08-08 00:34] CynthiaParr-USDA commented on #46
I have been thinking about this. It may be that we didn't port the standards pages over because they were now set up at GitHub? No, they aren't the same. Were they on the tdwgng.tdwg.org site?

 Until the redirects are ready, perhaps we should point to the old pages at http://ww1.tdwg.org/standards/xxx.

I just changed TAPIR to that ww1 address and that works -- that's not ideal as the "permanent

[2015-08-08 07:41] mdoering commented on #46
Hi cyndy, instead of working on intermediate solutions lets set up theredirects instead. I will give it a try in a few hours, we just need to make sure all standards are covered. Do all have a github page yet? The redirect #issue4 lists these redirects: https://github.com/tdwg/infrastructure/blob/master/migration/redirects.csv

I have added a [www.tdwg.org vhost](https://github.com/tdwg/infrastruc

[2015-08-08 09:18] mdoering commented on #4
www.tdwg.org redirects have been done for the standard urls: https://github.com/tdwg/infrastructure/blob/master/vhosts/www.tdwg.org.conf

[2015-08-08 09:25] mdoering commented on #46
Most standards redirect now, there are just a few broken ones still:
- 107 Delta
- 117 TCS
- 312 NCD
- tapir: link is wrong and points to ww1.tdwg.org

[2015-08-08 09:29] mdoering commented on #4
The following cnames still need to be done:
- rs.tdwg.org
- tapir.tdwg.org
- lsid.tdwg.org
- lists.tdwg.org (mailman)
- wiki.tdwg.org

Is any of those no longer needed?

[2015-08-11 09:54] pmergen opened #47 "Biodiversity Services and Clients Interest Group (BSCI) Charter"
Biodiversity Services and Clients Interest Group (BSCI) Charter was approved on June 22nd.
Conveners are James Macklin; Anton Güntsch and Niall Beard jointly.
Latest version of the Charter would be here

https://docs.google.com/document/d/1kuYgm4moVRemL0NJPSg3AX9iap156U_cJwruUb1VEkk/edi

Conveners to check the text and have it on the TDWG website --> check spelling Convenors or Conveners for examp

[2015-08-11 10:02] pmergen opened #48 "GBIF/TDWG biodiversity data quality interest group"
DQ Group 2 ? Group lead by Lee Belbin. To clarify full name and point to charter of the group.
the group will not have a session at TDWG 2015

[2015-08-11 11:21] peterdesmet commented on #4
Thanks @mdoering. 3 standard URLs are not yet forwarded (no repo yet), but http://ww1.tdwg.org/standards/449 (TAPIR) currently does not forward to https://github.com/tdwg/tapir

Don't know about the other cnames...

[2015-08-11 11:31] peterdesmet commented on #4
Didn't read [this comment](https://github.com/tdwg/infrastructure/issues/46#issuecomment-128943583). Tapir link is now solved. For the other redirects, I will ping you once the repo's have been set up.

Regarding the other cnames: probably best to ask in a separate issue, so this one can be closed.

[2015-08-11 11:32] peterdesmet commented on #46
Thanks @mdoering, works now for all except the 3 that don't have a repo yet. I also removed DwC and GUID from the side menu. Closing this issue.

[2015-08-11 11:32] #46 closed, assigned to nobody

[2015-08-11 11:33] peterdesmet commented on #37
Having an inactive table on http://www.tdwg.org/activities/ and not listing them in sidebar seems good to me.

[2015-08-11 11:41] peterdesmet commented on #1
Question, should we still list the `date published` in the table on http://www.tdwg.org/standards/? Reasons not to:
1. What does `published` mean: ratified, first publication, ... ?
2. For static, migrated standards, that info is available in the README (https://github.com/tdwg/prior-standards/tree/master/economic-botany-data-collection-standard).
3. For more dynamic standards we would have to upd

[2015-08-11 13:23] pmergen commented on #37
yes, we could have like in the standards a place for archived activities groups or call them former groups. would avoid the term "inactive" in the wording on the site, does not sound so good.  especially this one, if we put the link to GRBIO in discussion if it can be revived in collaboration with them. :http://grbio.org/ to discuss within the exec and then contact them ...

[2015-08-11 19:48] CynthiaParr-USDA commented on #46
Thanks guys for the fantastic progress.

[2015-08-12 12:46] pmergen commented on #18
There is an additional IG with 3 TG which does not appear in your check list
IG Data quality
with 3 TG
TG1 - Framework (Allan Koch Veiga)
TG2 - Tools, services and workflows (Lee Belbin)
TG3 - Case studies (Miles Nicholls - ALA)

it is for now on the GBIF community site where it was waiting to have the TDWG new site ready. http://community.gbif.org/pg/groups/21292/gbiftdwg-biodiversity-data-qualit

[2015-08-12 12:53] pmergen commented on #48
This is thus a Data quality IG chaired by Arthur Chapman
with 3 task groups
TG1 - Framework (Allan Koch Veiga)
TG2 - Tools, services and workflows (Lee Belbin)
TG3 - Case studies (Miles Nicholls - ALA)
the group is managed at GBIF as the old TDWG website could not put the charters online when they were approved. It is thus now a GBIF+TDWG group.
to is to check if there are charter texts here : htt

[2015-08-12 13:20] CynthiaParr-USDA commented on #18
Thanks -- exactly what we needed. I will add to the checklist, but I don't have time right now to make tickets to follow up on each of these.

[2015-08-12 18:13] pmergen commented on #18
it is fine for the DQ IG I made one ticket for now which includes also the 3 TG. I will see later depending on Arthur's report if i have to have 4 issues here one for the IG and one each for each TG. Suggest to wait until we have more info from the different conveners.

[2015-08-17 21:38] mdoering opened #49 "http://www.tdwg.org/dav is gone in the new tdwg site"
http://rs.tdwg.org/tapir/1.0/rddl.html links to http://www.tdwg.org/dav/subgroups/tapir/1.0/docs/ which is gone in the new tdwg-ng site. There are likely other dead links to the old /dav folder.

Do we need to resurrect it or can we change docs to point elsewhere?

[2015-08-17 21:39] mdoering commented on #49
Similar http://www.tdwg.org/activities/tapir/network-builders-guide/ is gone

[2015-08-17 21:41] mdoering commented on #49
see https://github.com/tdwg/tapir/issues/2

[2015-08-17 21:56] mdoering commented on #49
Possible solution is to change the TAPIR rddl files and link to the github pages files instead directly:
http://tdwg.github.io/tapir/rddl.html
http://tdwg.github.io/tapir/docs/TAPIRNetworkBuildersGuide_2010-05-05
http://tdwg.github.io/tapir/docs/tdwg_tapir_specification_2010-05-05

Suggest to use relative links from the rddl file

[2015-08-18 05:03] pmergen commented on #49
I think this is a good idea. We should avoid to have dead links on the new website hanging around.

[2015-08-21 14:15] pmergen commented on #48
latest will just sent a report that can be used at the exec and slide for Cyndy to present in her presentation about the group if relevant.

[2015-09-04 14:09] CynthiaParr-USDA opened #50 "Create special page for the JRS acknowledgement`"
They have a long history of support and deserve extra recognition. Should get a logo and some text.

[2015-09-04 14:15] pmergen commented on #50
have contacted Hank Bart to coordinate with him for a text. We have their logo from previous years

[2015-09-04 14:46] CynthiaParr-USDA commented on #50
In my notes from August XC meeting we said that Stan would post this (and ackknowledge other sponsors of the meeting -- which needs to come from Lucy) so I am assigning to Stan.

[2015-09-04 15:22] pmergen commented on #50
yes there are actually two things here
- the acknowledgement of the sponsors for this year conference
- the JRS who's president indicated that they would be happy to see a dedicated page thanking them for their support during the last five years or so .. independent from a specific conference
  I had contacted @HankBart for the second item as he has more info as to when their support first started

[2015-09-12 17:32] CynthiaParr-USDA commented on #37
Let's move ahead with this:
- [ ] Create a table for inactive groups, with NCD the first member (there may be older ones)
- [ ] Remove NCD from the left side bar
- [ ] Add mention of GRBio to the NCD page
- [ ] Remove Wouter Addink's name as convener from NCD page (it could say "Pending")

[2015-09-18 14:55] pmergen commented on #48
new charter text are available here : https://drive.google.com/drive/folders/0B__oha-AAUqWdnZERjV4WGlsY2s

[2015-09-24 04:17] nfranz commented on #40
Nico Franz (https://github.com/EulerProject) is interested in contributing.

[2015-09-27 07:17] CynthiaParr-USDA opened #51 "Find Florence uploaded presentations"
They have gotten lost in the migration

[2015-09-27 07:24] CynthiaParr-USDA opened #52 "Template for the IG/TG reports"

[2015-09-27 07:39] timrobertson100 opened #53 "Migrate mailmain to new server / VH"
Mailman resides on the "old" TDWG servers (i.e. the ones we are migrating from and will be powered down as soon as reasonable).

This should be migrated to a new VH on GBIF (CentOS 7), with the installation documented properly on the GBIF server wikis.

This is to be done _after_ the conference traffic dies down.

[2015-09-27 07:51] pmergen commented on #51
There was an issue last year that the Swedish presentations from 2014 would falsely upload in the 2013 Florence slot. Not sure how it was solved in the end but this may have caused a bug with the Florence presentations during the migration.

[2015-09-27 08:18] timrobertson100 opened #54 "Ask github for a free account"
The nature of TDWG doesn't quite meet the requirements for [non profit](https://github.com/nonprofit) as TDWG are not _yet_ registered officially as non profit.  Regardless of this, the nature of TDWG and the cause is likely to align with the intention behind github supporting free github accounts.  We should approach github and ask for a waiver of fees TDWG ($25 / month)

[2015-09-27 08:37] peterdesmet commented on #53
@mdoering, is this something you can pick up?

[2015-09-27 13:05] CynthiaParr-USDA opened #55 "Improve representation of Standards on Overview page"
http://www.tdwg.org/standards/
- [ ] Replace Date Published with release date and version number
- [ ] Replace Status column with indication of whether standard is ratified or not.

Additional tasks:
- [ ] Remove statuses from http://www.tdwg.org/standards/status-and-categories/
- [ ] Decide if we keep categories?

[2015-09-28 09:18] mdoering commented on #53
Yes, the week after TDWG sounds good. Some setup questions:
- do we want to also continue with the postfix aliases or are these handled now by MailChimp? These are all the tdwg roles and committees, e.g. chairman@tdwg.org, secretary@tdwg.org, exec@tdwg.org
- we keep the current 4 lists: tdwg, tdwg-content, tdwg-phylo, tdwg-tag
  http://lists.tdwg.org/mailman/admin
- what should happen with the arc

[2015-09-28 09:25] mdoering commented on #53
How about we move the larger postfix lists (conference, xcom, convener) to mailman and make the others backed by a simple mysql table which we can modify through mysql admin

[2015-10-01 08:51] pmergen commented on #47
Website/wiki for this group available at : http://tdwgbsci.biowikifarm.net/wiki/
Charter text in the google doc.
unless there are further comments, those would be ready to go to the website including the link to the wiki.  to be done together with @sblum

Pat

[2015-10-05 09:52] pmergen opened #56 "IGSN Metadata Kernel Working Meeting"
AT TDWG 2015, a groupe spoke with Ramona Walls (BCO) and Pier Buttigieg (ENVO) about some of the key metadata fields (sampleType, materialType, and samplingMethod) and how we can make a single “kernel” or “profile” work for both bio- and geo-, using some formal ontology to help clarify the definitions.   Based on feedback from Ramona and Pier, I made some preliminary comments about what we’re thin

[2015-10-05 14:57] CynthiaParr-USDA commented on #56
This doesn't seem to be a website or other technical infrastructure task. I think in our discussions at the meeting, we determined we probably do need the project that you had talked about creating for IG/TG conveners to have discussions across groups. Or is this a specific discussion under a particular interest group and should it be happening using their discussion mechanism? (GBWG?)

[2015-10-05 14:58] CynthiaParr-USDA opened #57 "Ensure appropriate back up procedures for server at GBIF"
All content managed on GBIF server(s) should have a back up on a regular basis -- not necessarily every day but perhaps once a week.

[2015-10-05 15:04] pmergen commented on #56
I am not sure, from reading their mail, what the purpose is actually, so I created a ticket with what they said in their mail.. I needs indeed clarification from their side and from the discussion you had at TDWG.

[2015-10-05 15:08] pmergen commented on #57
It depends what is on the back up server. and the risk of what could be lost versus the workload. Some days when we prepare the conference or when we are ratifying a new standard, lot can be added and lost within a week, while other periods are calmer.  Would need to be discussed with GBIF admin how much workload/ disc space this would cost versus risk of loosing data, if it is incremental backup

[2015-10-28 15:50] CynthiaParr-USDA opened #58 "Determine how to receive comments from public to website"
for executive and any other TDWG-related issues.

[2015-10-28 16:11] peterdesmet commented on #58
I think this is a task of the upcoming infrastructure committee. My suggestion: short term: have a feedback button that opens a new issue on GitHub, longer term: host the website from GitHub and have an "edit this page button", which allows users to correct a page directly (and published on approval).

[2015-11-09 16:09] CynthiaParr-USDA commented on #31
I created the column where the latest report will be linked in the new "Activities Prep" page.  Now I need help from Stan getting the reports that we have uploaded and linked here.  I don't think we should ask conveners to do this, at least for now.

[2015-11-23 15:03] peterdesmet commented on #55
- Release date/number: where can we find this information? Is it worth to add (and maintain) that info? https://github.com/tdwg/infrastructure/issues/1#issuecomment-129847205
- @gkampmeier, do you know which standards are officially ratified?

[2015-11-23 15:03] #1 closed, assigned to peterdesmet

[2015-11-23 15:08] peterdesmet commented on #11
@mdoering, any update on the migration of NCD?

[2015-11-23 15:31] peterdesmet commented on #5
@mdoering, where are we on the last remaining checks?
- Describing migration in an issue at https://github.com/tdwg/tapir/issues: something you could do, if you deem it necessary
- Create a release: I think that is planned in https://github.com/tdwg/tapir/issues/4 ?
- Invite relevant people. The team @tapir currently has you and Renato, which I think is a good start.

So, ok if I close this issue?

[2015-11-23 15:38] tapir commented on #5
I'm wrongly tagged on this issue. I'm not related to the "tdwg/tapir" project.

[2015-11-23 15:41] peterdesmet commented on #5
@tapir, apologies, I meant @tdwg/tapir

[2015-11-23 15:54] #10 closed, assigned to peterdesmet

[2015-11-24 07:58] peterdesmet commented on #19
@sblum can you email me the CSV files?

[2015-11-24 10:20] peterdesmet commented on #9
Hi @gmhagedorn, picking this up again. I'll contact Mike once I have created the repository. Ok if I use `delta` as a short name?

[2015-11-24 12:02] peterdesmet commented on #11
This issue can be closed. Remaining tasks (invite more collaborators, check citation and create release) will be handled by @tdwg/ncd

[2015-11-24 12:02] #11 closed, assigned to mdoering

[2015-11-24 12:08] gmhagedorn commented on #9
Great!

thanks peter!

gregor

On 24 November 2015 at 11:20, Peter Desmet notifications@github.com wrote:

##

---

Dr. G. Hagedorn
+49 (0)30 2093 8576 (work)
+49-(0)30-831 5785 (private)
gregor.hagedorn@mfn-berlin.de
http://www.linkedin.com/in/gregorhagedorn

This communication, together with any attachments, is made entirely on my
own behalf and in no way should be deemed to express official pos

[2015-11-24 12:21] peterdesmet commented on #4
This [file](https://github.com/tdwg/infrastructure/commit/569a41d5a6d6cbe1439e25c0cc451644cf39e453) now contains all redirects for standards. Closing issue.

[2015-11-24 12:21] #4 closed, assigned to mdoering

[2015-11-24 12:33] peterdesmet commented on #53
@mdoering I'll let others ping in if this is a good way forward. Do you need @tdwg/exec decision on this?

[2015-11-24 13:51] mdoering commented on #53
@peterdesmet could you discuss in @tdwg/exec please what to do with the postfix aliases? I think we should move to something more maintainable than the postfix config files for those small groups, dont you think? maybe also just mailman? I think that'll be my favorite

[2015-11-24 13:55] peterdesmet commented on #53
What are (the) postfix aliases exactly? Not familiar with these things and I assume neither is the exec.

[2015-11-24 15:56] mdoering commented on #53
we use the following [postfix aliases](https://github.com/tdwg/infrastructure/files/42917/virtual.txt), most importantly the ones listed above chairman, convener, secretary, exec and xcom@tdwg.org

The current mailman lives on lists.tdwg.org
I assume we keep using that domain for the new list server and update the virtual host at https://github.com/tdwg/infrastructure/blob/master/vhosts/lists.tdwg

[2015-11-24 16:05] mdoering opened #59 "Migrate rs.tdwg.org"
rs.tdwg.org is used for technical resources of various standards. It serves (xml) schemas, the ontology rdf files and many other important files. The current definition can be found at https://github.com/tdwg/infrastructure/blob/master/vhosts/rs.tdwg.org.conf

The current setup relies on a tdwg run svn repository for some standards (e.g. tapir, ncd), while other have already setup redirects to git

[2015-11-24 16:17] mdoering opened #60 "Decide about fate of lsid.tdwg.org"
TDWG runs a currently non functional LSID resolver and has an active virtual host definition for http://lsid.tdwg.org
https://github.com/tdwg/infrastructure/blob/master/vhosts/lsid.tdwg.org.conf

Can we simply remove that virtual host definition?

[2015-11-24 16:22] mdoering commented on #16
What should happen to the old wiki.tdwg.org content (apart from TAPIR)?
The site does not seem to be active anymore: http://wiki.tdwg.org/

current virtual host definition: https://github.com/tdwg/infrastructure/blob/master/vhosts/wiki.tdwg.org.conf

[2015-11-24 16:22] mdoering commented on #4
Created new issues for the remaining cnames:

tdwg/infrastructure#53
tdwg/infrastructure#59
tdwg/infrastructure#60
tdwg/infrastructure#16
tdwg/tapir#5

[2015-11-24 21:10] sblum commented on #60
Unfortunately, I don't have the skill to resurrect the resolver.  To the larger point: "what about LSIDs?"   I would like to propose that TDWG's commitment to and support of LSIDs should be phased out.  LSIDs are not the way forward, and we should clearly state this recommendation and signal that whatever support we are providing will be ending by some date.

[2015-11-24 21:27] sblum commented on #51
The 2014 presentations (Jonkiping) have been restored to the "slides upload" section of the 2014 meeting.  I looked at about 6 presentations and all looked like they were from 2014, so I don't thing there was mixing with the 2013 meeting.

The entire 2013 meeting got lost in the migration.  The meeting page(s) and uploaded files do exist on the ww1.tdwg.org.  I am working on restoring these.

[2015-11-24 22:43] sblum commented on #53
Maintaining the postfix alias file is not difficult, if you have login access to server and some very simple instructions (thanks Markus!).  The main benefit of moving the longer lists to mailman would be the spam filter that gets applied to those lists.  The alias for the exec gets a little bit of spam.  I don't think either of these are big issues.

Markus, If you want to set up maintenance of t

[2015-11-24 23:05] mdoering commented on #53
well, the aliases do not change that often also so I think I keep things as they were then. At least for now.

Should we apply some cleaning to the [file](https://github.com/tdwg/infrastructure/files/42917/virtual.txt)? Looks to me we can remove the personal TIP member aliases at least

[2015-11-24 23:11] sblum commented on #53
I'm tasked with adding the new members of the executive committee, but we are also just starting a run-off election to determine the final member of the exec.  (There was a tie.)  I can do the clean up then.   Thanks.   Installation and configuration of the software on the new server are the things that you are more uniquely qualified for ;-)

[2015-11-25 09:18] peterdesmet commented on #5
@mdoering created a release (https://github.com/tdwg/tapir/issues/4) and the repo is in the hands of the @tdwg/tapir team, so I consider this issue closed.

[2015-11-25 09:18] #5 closed, assigned to mdoering

[2015-11-25 09:38] peterdesmet commented on #53
Do we still need @tdwg/exec input for this?

[2015-11-25 09:42] peterdesmet commented on #60
Probably good to escalate this decision to @tdwg/exec as a two part decision:
- Do we switch off lsid.tdwg.org and lsid.info?
- Do we communicate that TDWG no longer recommends the use of LSIDs?

Stan, can you add this to the agenda?

[2015-11-25 09:43] mdoering commented on #16
I would favor migrating wiki content to github as much as possible instead of running a tdwg wiki server.
Alternatively http://biowikifarm.net/ could host the content

[2015-11-25 09:47] mdoering commented on #53
I think for now we don't need any further input. I will keep all mail related configs in [github](https://github.com/tdwg/infrastructure/tree/master/mail)

[2015-11-25 10:15] peterdesmet commented on #19
Got the files, planning to call the repository `biodiversity-information-initiatives`

[2015-11-25 11:01] peterdesmet commented on #51
I noticed the 2013 conference is listed under `Biodiversity Information Projects of the World` in the left-hand menu: http://www.tdwg.org/biodiv-projects/2013-conference/ So, it's still there, but at the wrong place (notice also the URL).

[2015-11-25 14:43] timrobertson100 commented on #16
@mdoering wrote

+1

[2015-11-25 16:04] baskaufs commented on #16
Unless the old TDWG wiki is going to be resurrected and actually used as a wiki, I would just dump it somewhere on GitHub.  From my perspective, I think it needs to be citable.  For example, there is a lot of stuff related to the development of the TDWG infrastructure that was recorded in the Wiki (e.g. TAG reports) that should inform future work.  That stuff has now gone dark, and shouldn't.

[2015-11-25 19:05] peterdesmet commented on #16
Ok, if we host it on GitHub, should we:
- Host it in a GitHub repository or associated wiki?
- Move the standard-related wikis to their corresponding GitHub repo (or wiki) or keep all of it together?

[2015-11-25 20:25] sblum commented on #51
Excellent catch, Peter!  I've corrected this and moved it back to where it belongs.  Also, checked pages and content of uploaded files.  The files I checked are from the Florence meeting, not Jonkiping.  Closing this issue.

[2015-11-25 20:25] #51 closed, assigned to nobody

[2015-11-25 22:03] baskaufs commented on #16
It seems like it would make sense to move the wikis to the corresponding GitHub repo if there is one.  I think a lot of the wikis don't have a lot of content, but the ones that I've spent the most time reading are things associated with the TAG and the development of the TDWG ontology, which at the time was supposed to be a critical component of the TDWG infrastructure.  So if there is going to be

[2015-11-26 08:38] peterdesmet commented on #16
The following wiki sections could be placed in their corresponding repo on GitHub:

| Wiki | GitHub repository |
| --- | --- |
| http://wiki.tdwg.org/TAPIR/ | https://github.com/tdwg/tapir (will be migrated, see https://github.com/tdwg/tapir/issues/3) |
| http://wiki.tdwg.org/twiki/bin/view/DarwinCore & http://wiki.tdwg.org/DarwinCore/ (deprecated) | https://github.com/tdwg/dwc |
| http://wiki.tdw

[2015-11-26 09:19] sblum commented on #57
I had an exchange with Andrei around the time of the meeting.  He said they were doing nightly incrementals, and full back ups on weekends, but I believe he is also leaving GBIF, so I need to review procedures with the new head of Sys admin (or whomever Tim designates to be in charge of our backups).

[2015-11-26 10:19] mdoering commented on #16
+1 for first archiving the entire wiki somewhere. We need to do this in order to switch off servers in a reasonable time

[2015-11-26 12:34] baskaufs commented on #16
i agree about the reasonable amount of time.  my main concern is generating a trail of links the stop working. As long as the entire wiki stays at the new location permanently, I don't see why groups could not copy old posts to start a new wiki if they wanted to. But I doubt that many would.

---

Steven J. Baskauf, Ph.D.
Vanderbilt Dept. of Biological Sciences

On Nov 26, 2015, at 5:19 AM, Markus

[2015-11-26 12:53] mdoering commented on #16
Maybe it is possible to crawl the old wiki and keep it as static html files in github so we can setup redirects from the old domain?

[2015-11-26 13:29] peterdesmet commented on #16
@mdoering if we can replicate the wiki directory structure on GitHub, we'd only have to redirect `http://wiki.tdwg.org/twiki/`. We'd then still have several option on how to host it on GitHub:
- In the repository: redirect to https://github.com/tdwg/wiki-archive/tree/master/
- In the wiki: redirect to https://github.com/tdwg/wiki-archive/wiki
- As a static site: redirect to http://tdwg.github.io/w

[2015-11-26 13:30] peterdesmet commented on #16
@mdoering instead of crawling, who has direct access to the (old) server where the wiki is hosted? @sblum? @acheccuc?

[2015-11-27 20:27] sblum commented on #16
The twiki was the first piece of the infrastructure to start causing problems (several years ago), so someone at GBIF (I think) was able to migrate the content from old one to a newer one on 192.38.28.106 (owl).  (My TDWG login stopped working after that.)  Owl is the same server that Mailman is currently running on.  I don't think it's accepting ssh connections from outside the GBIF network, thou

[2015-12-07 13:04] #13 closed, assigned to peterdesmet

[2015-12-09 13:23] tucotuco commented on #19
None of the links on http://www.tdwg.org/biodiv-projects/projects-database work. Is that related?

[2015-12-15 02:29] gkampmeier commented on #60
Note that the second paragraph under "Basic Standards Recommendations on tdwg.org states:

If we are going to abandon LSID technology, we will need to devote some thought into stating why, and point people in another direction. I was using this service :(

[2015-12-17 00:13] sblum commented on #19
John,  I'm not sure what you're referring to here.  All the individual project links I see listed at the URL you pasted DO work -- i.e., they display the record for the project.  Were you just getting broken links?

[2015-12-17 08:22] peterdesmet commented on #19
@tucotuco: links work for me as well. All content of that DB is now archived at: https://github.com/tdwg/bii/tree/master/projects

[2015-12-17 14:49] peterdesmet opened #61 "Rethink TDWG website"
We're getting to a state were the components that made the [TDWG website](www.tdwg.org) so complex, are no longer tangled together as one big knot:
- The underlying Typo3 platform has been updated, which allowed the website to be migrated to a new server (hosted at GBIF).
- Standards are hosted and maintained on GitHub.
- The biodiversity information projects and networks databases are [archived o

[2015-12-18 13:17] dkoureas commented on #61
I fully agree with analysis @peterdesmet.
TDWG site needs to be simplified, expose our key products in a much more impactful and user friendly way and through a new branding.
I am happy to help out with this.

[2015-12-18 16:16] WUlate commented on #61
I am in!  I want to be part of this process...

<Personal_digression>
You see, the other day I was in a meeting and I overheard someone using TDWG as an example of a place where nothing could be found and things were not done... of course, I didn't like it and I could've argued with this (loud) person his generalized argument with concrete points (which he didn't provide), but instead I tried to d

[2015-12-21 19:22] CynthiaParr-USDA commented on #16
From Dec check-in discussion with Peter

Aim to shut down this server by end of January

New ticket for action to be created. https://github.com/tdwg/infrastructure/issues/62

[2015-12-21 19:25] CynthiaParr-USDA opened #62 "Consult with IG/TG convenors on Wiki content moves"
In response to #16 proposal to move current wiki content to static HTML pages and make redirects (was this what we ended up with?
- [ ] send a message to TDWG-Content with warning about sunsetting
- [ ] work with Dimitris to send message to IG/TG convenors
- [x] move the content [to GitHub?]
- [ ] update website to remove from menu
- [ ] make a news item for home page
- [ ] set up redirects

[2015-12-21 19:33] CynthiaParr-USDA commented on #19
Don't forget redirects.

[2015-12-21 19:35] CynthiaParr-USDA commented on #35
- [x] Cyndy will check with Steve on status of the VMS (cc Peter)
- [x] Greg, on behalf of TAG, will follow up with suggested maintainer to replace @mdoering  as maintainer on GitHub

Note that there is an identifiers hackathon in Arizona next year that would be a good place to find people who would be appropriate.

[2015-12-23 16:03] dkoureas commented on #60
DOIs?

[2016-01-04 01:30] tucotuco commented on #19
I still the same problem, and was reporting it for others who had seen it as well. Here is a partial screen shot.
![image](https://cloud.githubusercontent.com/assets/462827/12082014/83d79c78-b269-11e5-9618-1748c54e34e2.png)

[2016-01-04 04:25] sblum commented on #19
I can replicate the problem with Firefox, but I get the expected results
Chrome.  I'm not logged in with Chrome, so I'm puzzled.  I don't think this
is a high priority for us at the moment, but I'll try not to let it fall
off the radar entirely.

-Stan

On Sun, Jan 3, 2016 at 5:30 PM, John Wieczorek notifications@github.com
wrote:

[2016-01-04 10:49] peterdesmet commented on #19
I cannot replicate the problem in Firefox. Since we plan to redirect anyway, we should maybe just do that? Is there a reason not to redirect for the moment?

[2016-01-14 15:31] mdoering commented on #53
@sblum could you look at the latest [virtual](https://github.com/tdwg/infrastructure/blob/master/mail/postfix/virtual) file please? I'm keeping all configs in the github repository, so it would be nice if you could do changes in github first and then pull them on the server (in roots home) so they become available

[2016-01-14 19:45] sblum commented on #53
This file is now updated for 2016.  See updates listed in commit
description.

-Stan

On Thu, Jan 14, 2016 at 7:31 AM, Markus Döring notifications@github.com
wrote:

[2016-01-22 13:33] mdoering commented on #53
mailman, postifx and apache VH lists.tdwg.org are migrated to the new machine

[2016-01-22 13:33] #53 closed, assigned to mdoering

[2016-01-22 13:33] mdoering commented on #53
postfix and mailman have been stopped on owl

[2016-02-01 16:14] CynthiaParr-USDA opened #63 "Update convener documentation based on new technology"
This page refers to tools we no longer use:
http://www.tdwg.org/activities/convener-tasks/

[2016-02-01 18:11] CynthiaParr-USDA opened #64 "Set Up Citizen Science Interest Group presence on tdwg.org"
A charter was approved several years ago during the tdwg.org dark days.
- [ ] Put charter in a good place (https://docs.google.com/document/d/1YPegb6qwDAOCKnrRjs5TX-Zg9ieTc3IfGqSblgU8pko/edit)
- [ ] Add to the activities chart on http://www.tdwg.org/activities/
- [ ] make sure conveners are included in communication with conveners (e.g. mailing list?)

[2016-02-09 16:56] CynthiaParr-USDA commented on #50
Stan, this is a task that is still waiting. Would be good to do it soon in case we are thinking of applying for travel funds from them.

[2016-02-09 21:12] stanblum commented on #50
Cyndy, et al.,   how is this?

http://www.tdwg.org/acknowledgements

This page can be viewed by anyone with the link.  At the moment, I have it
placed in the navigation tree (as "Acknowledgements") just after "Past
Meetings".   We can move it easily if another location is more
appropriate.  And we can unhide it in the navigation tree as soon as the
page is approved.  We can also put a link to this

[2016-02-12 18:26] CynthiaParr-USDA commented on #50
Sorry, I missed this. Too much github traffic from all my projects!

The page seems oddly crowded and/or text heavy. Maybe include an image from Hank showing the awardees last year?

[2016-02-12 18:33] stanblum commented on #50
I agree about the crowding.  I might have to change the types of the page elements to get it to open up.  I'll ask Hank for a picture if it isn't already posted somewhere.

[2016-02-18 00:03] AaronWilton opened #65 "forgot password functionality in the membership resulting in page not found error"
![tdwg forgot password 1](https://cloud.githubusercontent.com/assets/9813877/13129155/dddec684-d63f-11e5-896b-fad0d68f27ed.jpg)
![tdwg forgot password 2](https://cloud.githubusercontent.com/assets/9813877/13129154/ddde5bc2-d63f-11e5-85b2-410a67d9682a.jpg)

[2016-02-24 08:18] peterdesmet commented on #65
@sblum, any idea on how to solve this?

[2016-02-24 09:28] mdoering opened #66 "Shutdown owl.tdwg.org server"
We like to shutdown the prehistoric owl tdwg machine at GBIF. It serves varies things at the moment, some of which have been migrated already to a newer setup:
- [x] mailman & http://lists.tdwg.org
- [x] TWiki at http://wiki.tdwg.org/
- [x] http://rs.tdwg.org exposing the SVN & static content
- [x] http://lsid.tdwg.org
- [x] http://tapir.tdwg.org
- Mailman has been migrated: #53
- The wiki should

[2016-02-24 10:38] mdoering commented on #66
LSID setup from owl archived in this repo: https://github.com/tdwg/infrastructure/commit/8d2bfef749d5d050ef3579df9b6800717275321d

[2016-02-24 10:39] mdoering commented on #60
I have archived the current LSID resolver setup from OWL: LSID setup from owl archived in this repo: 8d2bfef

I would like to shutdown http://lsid.tdwg.org as soon as possible to decomission the owl server, see #66

[2016-02-24 10:39] stanblum commented on #65
Unfortunately, not yet, but William and I are trying to wrap our heads
around Typo3 and Typoscript.  We have made some progress with other
lingering issues, so I do have hope.  (Need to find where that link is
stored and then change it to the page that does work for resetting a user's
password.)

On Wed, Feb 24, 2016 at 12:18 AM, Peter Desmet notifications@github.com
wrote:

[2016-02-24 10:47] stanblum commented on #66
We talked many months ago about crawling the twiki site.  I haven't done
that, as I'm not sure how to test the results as an effective archive --
something that would enable us to at least read all of the content.  If we
ran a typical wget job, where would we put the results?  Also, the twiki
site itself seems to be effectively unusable.  Any ideas?

On Wed, Feb 24, 2016 at 1:28 AM, Markus Döring

[2016-02-24 10:59] mdoering commented on #66
I have copied the entire twiki installation into this github repo: https://github.com/tdwg/wiki-archive
So all data is preserved and we can shutdown the wiki cause it is dysfuncitonal anyways as you say

[2016-02-24 11:00] mdoering commented on #66
TAPIR can be shutdown as we have another instance of the tools running at sourceforge, see tdwg/tapir#5

[2016-02-24 13:30] MattBlissett opened #67 "Move DNS for TDWG.org to a cloud provider"
Hi,

We're planning on moving the DNS for GBIF.org (and our other domains) to a cloud provider, probably Amazon Route 53.  This should provide faster DNS lookups since Amazon have servers around the world, and simplify maintenance — upgrading DNS server software is a chore.

Can we do the same with TDWG.org?

[2016-02-24 17:03] dkoureas commented on #61
As you all notice these discussions could take for ever. I think we need to have a small group of people assigned to this:
There are three main pillars of work:
- Select and implement the technical platform (Shall we stick with Typo3? Shall we move to a Drupal option?)
- Re-branding and design ! (We have very good experience with a team in Sweden that is doing clean and efficient design) Who are a

[2016-02-24 17:17] mdoering commented on #61
Please consider at least some static site generators like Jekyll or Hugo for a new website. My vote is for the simplest solution and least server maintenance - sth we utterly failed in over the past decade

[2016-02-24 18:37] stanblum commented on #67
Yes, I think that would be fine with us.  Would there be a cost associated
with that, or is it small enough that it would not be worth the hassle to
share it?

Also, please note that I think my former institution (calacademy.org) was
running a GBIFDNSmirror on their stack of virtual servers.  We should tell
them that this can be decommissioned, if/when that happens.

On Wed, Feb 24, 2016 at 5:30 A

[2016-02-24 18:43] stanblum commented on #61
+1 for considering Jekyll (integrated with GitHub).

But FIRST we have to be absolutely clear about the functions that need to
be supported.  This is what William was alluding to.  So I think
 functional inventory and analysis comes first.

I think everyone agrees it would be great to get off of Typo3!  Learning
curve is too steep, and expertise is rare and expensive.

On Wed, Feb 24, 2016 at 9:17

[2016-02-25 08:53] MattBlissett commented on #67
Thanks.  I think the cost is so small it won't be worth the administration, we expect it to be something like $6 per year.

The Natural History Museum (London) is hosting a DNS mirror for TDWG.  I'll let them know once we've moved and thoroughly tested everything.

(Calacademy.org is already using Amazon DNS. How's that for a recommendation? :-) )

[2016-02-25 13:20] WUlate commented on #61
In Spanish we have a saying: "Más vale malo conocido que bueno por conocer" meaning "I'd rather have known evil than good to be known"

All tools will have a learning curve; to consider it steep or not, might be subjective.  And almost all of those tools that survive the stand of time are "easy to use" or "suitable" for SOME of the things you may want and "adaptable" or "expandable" to the other o

[2016-02-25 13:32] mdoering commented on #61
William, I'd say the key drive to put as much onto github is to be very open. Anyone has access to all the data immediately now and its archived.

[2016-02-25 14:36] WUlate commented on #61
I agree, Markus; probably much more open and easier to share than other alternatives.
What I ask myself is if this should be our driving consideration now or if other requirements would outweigh this one in a sound decision?
And I understand where we are coming from with our Typo3 solution, I won't say it's easy or the best, but it does have its qualities for some things, all of them do.
I just wi

[2016-02-25 14:51] jmacklin commented on #61
I agree that it would be wise to have some process here. This is a fairly
major decision and we should weigh the cost/benefits based on our core use
cases. And we do need to be as open as possible. Yes, no matter what there
will be a learning curve but we do have the advantage that our community is
pretty computer/IT/Informatics savvy :-)

Best,  JAmes

On Thu, Feb 25, 2016 at 9:36 AM, WUlate noti

[2016-02-25 18:05] stanblum commented on #61
@mdoering (and all), I think GitHub actually provides several of the higher level functions there we were trying to support in the TDWG Infrastructure Project (TIP), including:  repository, wiki, messaging among collaborators, and web site (where authoring is more controlled than a wiki).  So I suggest we could begin by using the wiki capability (here in the infrastructure repo) to begin listing,

[2016-02-25 18:09] stanblum commented on #61
I just turned on the wiki feature in this repository.

[2016-02-25 23:03] WUlate commented on #50
Footer is modified...

The TDWG Page footer is the page.10.subparts.pageFooter.value within the TDWG Website Template at the HomePage.

To edit it in Typo3 click the Template option below the WEB tree root.
Then click the HomePage in the TDWG - Production/Staging tree and
choose(click) the TDWG Website Template (it's at the bottom of the list).
Then choose the TypoScript Object Browser in the list

[2016-03-02 18:42] WUlate commented on #65
Solved!

[2016-03-02 20:27] stanblum commented on #65
Thanks, William!

[2016-03-02 20:27] #65 closed, assigned to nobody

[2016-03-09 13:08] MattBlissett commented on #67
Hi Stan,

We've moved GBIF.org's DNS to Amazon, and all looks to be working fine.  It's much faster for users outside Europe, and a little faster for users in Europe but not in Denmark.

Since you are the technical administrator for the tdwg.org domain, please could you update the name servers as follows:

[code]

If you let me know when it's done, I'll check everything is working correctly.  I do

[2016-03-09 18:55] stanblum commented on #67
Hi Matt,

I've entered the addresses above as our DNS servers for tdwg.org.

We also have "LSID.info" as a domain name we serve.  It is currently (not changed yet) pointing to the same servers we had used for tdwg.org; i.e., NS.TDWG.GBIF.ORG and MAILSERVER.NHM.AC.UK.   Do you still have entries for that in your DNS?  and can I go ahead and update the DNS servers for LSID.info?

[2016-03-09 19:38] mdoering commented on #67
If we want to server the lsid domain still the tdwg apache virtual host must be reactivated and fixed, see #60

[2016-03-09 20:07] stanblum commented on #67
Did you see Rod Page's tweet yesterday:

_Roderic Page_ ‏@rdmpage  https://twitter.com/rdmpage Mar 8
https://twitter.com/rdmpage/status/707195746823643139Glasgow, Scotland
https://twitter.com/search?q=place%3A791e00bcadc4615f

Hey @tdwg https://twitter.com/tdwg what happened to the LSID resolver
http://lsid.tdwg.org  https://t.co/47pxH8qBkH ? Is this the death of
LSIDs?

Was it really broken?  Whi

[2016-03-09 20:19] rdmpage commented on #67
http://lsid.tdwg.org looks like this:
![lsid](https://cloud.githubusercontent.com/assets/83306/13649097/d2a0e4d8-e633-11e5-990b-0519232cdd51.png)
I'd be sorry to see LSIDs go, simply because for a key class of data (taxonomic names) just about everybody uses them to serve RDF in a consistent format. It's one of the few success stories in the field but we managed to turn victory into defeat by not

[2016-03-09 20:44] stanblum commented on #67
Thanks for the feedback, Rod.

Does anyone else have an LSID resolver running that we could point to
instead, or is the only way to keep lsids functioning to restore the one on
the tdwg domain?

On Wed, Mar 9, 2016 at 12:19 PM, Roderic Page notifications@github.com
wrote:

[2016-03-09 22:14] rdmpage commented on #67
I'm not aware of another public LSID resolver. I have a tester at http://darwin.zoology.gla.ac.uk/~rpage/lsid but that's not set up as a simple resolver. Given that the TDWG resolver is mentioned in TDWG documents, e.g. https://raw.githubusercontent.com/tdwg/guid-as/master/lsid/applicability_statement.doc should TDWG support the resolver? Maybe something like a Docker image could be created to mak

[2016-03-10 08:20] timrobertson100 commented on #67
Please continue the LSID discussion on the LSID ticket https://github.com/tdwg/infrastructure/issues/60 as the decision to run LSID is unrelated to the location of the DNS server.

[2016-03-10 08:27] MattBlissett commented on #67
Do they? The two example LSIDs on your tester don't resolve.  I think we (Markus or I) should find the logs for the TDWG resolver and see if anyone was actually using it, and not just for curiosity's sake.

### Broken LSIDs
* urn:lsid:algaebase.org:taxname:101541
* urn:lsid:biodiversity.org.au:afd.name:433239
* urn:lsid:catalogueoflife.org:taxon:d242422d-2dc5-11e0-98c6-2ce70255a436:col20130401
* u

[2016-03-10 08:27] MattBlissett commented on #60
Continuing from #67 ...

Do they? The two example LSIDs on your tester don't resolve.  I think we (Markus or I) should find the logs for the TDWG resolver and see if anyone was actually using it, and not just for curiosity's sake, before anyone puts any effort into resurrecting the resolver.

### Broken LSIDs
- urn:lsid:algaebase.org:taxname:101541
- urn:lsid:biodiversity.org.au:afd.name:433239
-

[2016-03-10 09:27] mdoering commented on #60
I was under the assumption that the TDWG LSID resolver did not work since years. But yes, lets check logs

[2016-03-10 10:33] mdoering commented on #60
The current installation is archived here: https://github.com/tdwg/infrastructure/tree/master/lsid.tdwg.org
It is using IBM Perl code from 2008, probably this: http://cpansearch.perl.org/src/EKAWAS/lsid-perl-1.1.7/

[2016-03-10 10:43] rdmpage commented on #60
I could provide a working PHP (don't laugh) resolver if needed. One option is to set up a server "in the cloud" and have lsid.tdwg.org point to that. I guess it depends on whether TDWG wants to be responsible for maintaining the service, or just want there to be a service for those luddites like myself who nurse a lingering affection for LSIDs.

[2016-03-10 10:50] mdoering commented on #60
Rod, did you use lsid.tdwg.org or www.lsid.info? Would be nice to not have a dedicated domain for this at least

[2016-03-10 10:54] rdmpage commented on #60
@mdoering Not sure what you mean by "use" I've not had any involvement in running the TDWG LSID server.

[2016-03-10 11:16] nickynicolson commented on #60
If the TDWG LSID resolver is resurrected, please have it use the HTTP protocol correctly.
We disabled access to IPNI resources from this source as rather than issuing an HTTP redirect - so that we see the true originator of the request - the resolver grabbed the data and returned to the requester with an HTTP status 200. This means that we were never able to see who was actually using the data, we

[2016-03-10 11:18] timrobertson100 commented on #60
I would suggest TDWG do not continue to promote LSIDs, nor maintain a resolver.

As an identifier resolution mechanism it simply did not catch on, and by and large the few early adopters are largely broken now (see all the examples above).  Given this position, I don't see how the organisation can continue to promote and recommend it.  That the resolver can go offline for days without anyone notic

[2016-03-10 11:33] rdmpage commented on #60
I agree that LSIDs are moribund. My worry is that we have nothing to replace them with, in the sense of discoverable, resolvable identifiers that return machine readable data. Obviously there are other ways to achieve this (DOIs, HTTP URIs with content negotiation, etc.) but once we kill LSIDs I suspect we will struggle to go through the whole process of providing the same functionality (assuming

[2016-03-10 13:59] MattBlissett commented on #60
I've had a look at the oldest logfile on the server, which is from the first week of February.

The vast majority of hits to the server are search engine crawlers, which I have excluded.  330 potentially genuine LSID lookups remain.

Of the 330 queries, only 71 are on domains that have a resolver (Ohio State + Marine Species). I haven't tested if the 71 LSIDs actually return anything.

If anyone i

[2016-03-10 14:19] MattBlissett commented on #67
I'm closing this, since tdwg.org is correctly migrated to Amazon — thanks, Stan.

lsid.info isn't doing anything at present. I'm not sure it was doing anything before — it points to a different IP than lsid.tdwg.org.

If TDWG decide to run something using the domain we can change its DNS too.

[2016-03-10 14:19] #67 closed, assigned to nobody

[2016-03-10 15:50] rdmpage commented on #60
That would certainly be one solution that avoids a 404 and is human readable. But it also means LSIDs are dead, and I guess I agree with @timrobertson100 and @peterdesmet that TDWG should probably make an official decision to either support or sunset LSIDs.

[2016-03-10 21:51] stanblum commented on #60
Before we decide, we need to inquire with publishers (e..g, Pensoft, Magnolia) and Zoobank about their use of LSIDs.  If they're printed, we may need to provide resolution, no?

[2016-03-15 13:00] timrobertson100 opened #68 "Shutdown falcon.gbif.org (URGENT!)"
It is now becoming **urgent** that TDWG start switching off old machines as the university network folks are again alerting vulnerabilities.  This impacts GBIF position on the network and so we need to take this with some seriousness.  It is possible at some point we will have to switch them off or risk going offline.

On falcon.tdwg.org there is the LSID site, MySQL, and LDAP and some other Virtu

[2016-03-15 13:06] jmacklin commented on #68
Thanks, Tim.

@csparr maybe we should have a separate meeting on this issue involving
those interested on the EX with stakeholders. The recent LSID discussion
will require some deeper consideration or a stopgap of some kind to allow
Tim to deal with his issues (which I can certainly relate to ;-).

James

On Tue, Mar 15, 2016 at 9:00 AM, timrobertson100 notifications@github.com
wrote:

[2016-03-15 13:22] CynthiaParr-USDA commented on #68
Yes, we could have an urgent meeting. LSID resolving seems to be the most
serious and we will need to talk about it.  Sorry I wasn't paying attention
to https://github.com/tdwg/infrastructure/issues/60 but I appreciate Rod's
offer to help.

Stay tuned for meeting coordination.

Cyndy

On Tue, Mar 15, 2016 at 9:06 AM, James Macklin notifications@github.com
wrote:

[2016-03-15 13:40] CynthiaParr-USDA commented on #49
Looking through all the issues, this is not blocking server shutdowns but needs to be taken care of. I've assigned Stan though I'm not sure he's the right person to update TAPIR files -- please reassign as necessary.

It seems to be a consequence of the relocation of TAPIR to github -- are there supposed to be redirects that aren't working?

[2016-03-15 13:40] CynthiaParr-USDA commented on #50
Can this be closed?

[2016-03-15 13:42] CynthiaParr-USDA commented on #44
I am not sure if it really blocks server shutdown but want to ensure that it does not and then assign to someone to deal with it.

[2016-03-15 13:43] CynthiaParr-USDA commented on #37
Stan, can you tackle this and close the ticket as part of the maintenance of the new website? Thanks.

[2016-03-15 13:45] CynthiaParr-USDA commented on #19
I don't see any reason not to redirect. Who can set those up?

[2016-03-15 13:47] CynthiaParr-USDA commented on #12
Can this be closed now?

[2016-03-15 13:54] jmacklin commented on #68
I assume we have an agreement with GBIF on patching and maintenance at the
server/OS level but what about our apps? If we are responsible then we need
a game plan. OS patching can influence apps...

James

On Tue, Mar 15, 2016 at 9:22 AM, Cyndy Sims Parr notifications@github.com
wrote:

[2016-03-15 14:02] CynthiaParr-USDA commented on #68
I think the understanding when we paid for a new server was that we would not expect GBIF to patch and maintain the old server. So we do need a game plan.  Almost everything is probably off that server (including some of the tickets referenced here: https://github.com/tdwg/infrastructure/labels/blocks-old-server-switchoff)

[2016-03-15 14:20] CynthiaParr-USDA commented on #16
FYI there seems to be good wiki content in the Wayback Machine should we need to shut down the old server ASAP. E.g. from Dec 2013 https://web.archive.org/web/20131211055120/http://www.tdwg.org/

[2016-03-15 14:31] WUlate commented on #50
Yes, please, for some reason this allows me to comment but not to close.

[2016-03-15 14:37] #50 closed, assigned to nobody

[2016-03-15 16:54] ckmillerjr commented on #60
My thoughts:
1) TDWG is a standards body, not a services provider.
2) LSID was recommended by an Applicability Statement from a working group. Another working group should be organized to update the applicability statement, which is a current TDWG standard.
3) GBIF is a services provider but so far uninvolved in ID resolving services.

Chuck

[2016-03-15 16:56] mdoering commented on #16
I have copied all wiki content into a new repository so the content is safe for sure:
https://github.com/tdwg/wiki-archive

The actual versioned data appears to be here: https://github.com/tdwg/wiki-archive/tree/master/twiki/data with attachments here: https://github.com/tdwg/wiki-archive/tree/master/twiki/pub

[2016-03-15 17:11] mdoering commented on #49
I would actually propose to not use the RDDL files anymore.
I have migrated and cleaned the TAPIR repository so that there is good readme now which takes care of listing the TAPIR resources: https://github.com/tdwg/tapir

And from there you get to the tapir specs hosted on github.io: http://tdwg.github.io/tapir/docs/

We can add something to the new site, but I don't think we need http://www.tdwg.

[2016-03-15 21:15] CynthiaParr-USDA commented on #49
Can you set up the redirects for the real content just in case?

[2016-03-15 21:56] stanblum commented on #16
Thanks for that Markus!  I've been going through stuff on the admin pages, where Lee had left a lot of notes.  I confirm that the content is very easily readable from there (not formatted, but readable).  I think that makes the content recoverable for any future need, though some work would be required to make it look nice.  I think we are now at the point of needing to contact conveners of groups

[2016-03-15 22:27] stanblum commented on #60
This recent workshop on getting traction with technology for identifiers is very relevant to our issue of replacing LSIDs.  (Some TDWG people were there, but not from Exec.)
https://github.com/identifier-services/phoibos2/wiki
Practical Hacking On Identifiers at BiOSphere2 (PHOIBOS2), Feb. 17-19, 2016, Oracle, Arizona, USA

[2016-03-15 22:39] stanblum commented on #38
This was finished on Aug 7, 2015.  I should have closed it then.

[2016-03-15 22:39] #38 closed, assigned to nobody

[2016-03-16 11:55] peterdesmet commented on #12
Yes, creating the release is discussed in https://github.com/tdwg/abcddna/issues/1

[2016-03-16 11:55] #12 closed, assigned to peterdesmet

[2016-03-16 14:20] CynthiaParr-USDA commented on #16
As there is another ticket for contacting the conveners, I am closing this now.

[2016-03-16 14:20] #16 closed, assigned to nobody

[2016-03-16 14:21] CynthiaParr-USDA commented on #44
@stanblum can you comment on the location of the old OJS abstracts?  Have they been saved? Are they on the server we want to shut down.

[2016-03-16 14:24] CynthiaParr-USDA commented on #62
is it easy to set up a simple redirect to the wiki archive at https://github.com/tdwg/wiki-archive?
@mdoering

[2016-03-16 14:25] CynthiaParr-USDA commented on #62
@peterdesmet can you send out the note to TDWG-content ASAP? Or find someone else to do it. I am not sure I have a complete handle on the plan so I am not offering.

[2016-03-16 15:10] CynthiaParr-USDA commented on #44
These exist in the Wayback machine. https://web.archive.org/web/20070630140549/http://www.tdwg.org/ojs/

[2016-03-16 15:11] CynthiaParr-USDA commented on #17
Stan please check so that we don't lose this content.

[2016-03-16 16:43] stanblum commented on #68
[this note also posted to slack/tdwg-tech]  I have a wget crawl of OJS, but haven’t checked it thoroughly  for completeness (a directory tree with MANY branches).  Also, and perhaps more usable is the MySQL db that held the content under OJS.  That is already migrated over to the current server under our website (tdwgng:107).  The table structure looks pretty sensible.  It contains titles, authors

[2016-03-16 16:44] stanblum commented on #68
I think Falcon can go down.

[2016-03-16 17:48] CynthiaParr-USDA commented on #59
It looks like all that is left here are rewrites. So I am taking off the blocks-old-server tag.

[2016-03-16 17:53] CynthiaParr-USDA commented on #60
This is no longer a blocker. We have decided to shut down the server with the resolver on it, and will be distributing messages related to that on the website and via TDWG-content mailing list.

[2016-03-16 17:55] CynthiaParr-USDA opened #69 "Post messages alerting community to status of certain resources"
In order to alert stakeholders, need to develop and post messages about availability (or lack thereof) going forward of:
-  lsid server
- rs.tdwg.org
- ojs
- wiki

Should be posted to
- [ ] tdwg.org website
- [ ] TDWG-content mailing list.

[2016-03-16 17:56] CynthiaParr-USDA commented on #68
Agree.  Time to shut it down. Please close the ticket when that is completed.  Assigning to @timrobertson100 who can reassign as necessary.

[2016-03-16 18:07] CynthiaParr-USDA commented on #60
Messaging now a task in #69

@rdmpage I don't think we want to be in the business of maintaining an LSID resolver. We haven't declared LSIDs dead, we'll actually want to turn attention to that applicability statement now. It certainly seems likely.  I think we've come to agree with @timrobertson100 's idea that we redirect to a page with a message.  If there is an alternate resolver someone else i

[2016-03-16 18:22] CynthiaParr-USDA commented on #68
Is there any archive of the pages from http://www.lsid.info ? There's a reference to code on sourceforge but that's dead.

Can any of this be archived?

[2016-03-16 18:27] CynthiaParr-USDA commented on #44
Stan, can you figure out a plan to make the content accessible again for the proceedings?  It looks to me like it was only one year.

[2016-03-16 18:37] stanblum commented on #17
I think it's all saved to other locations, but perhaps not in all the various formats.  Straight HTML of each proceedings, as well as a PDF are in hand.

[2016-03-16 18:56] CynthiaParr-USDA commented on #35
Should have assigned these tasks. I'll take care of my part then reassign to Greg (who may not yet be on here)

[2016-03-16 19:21] peterdesmet commented on #62
Sorry, some urgent deadlines this and next week. @mdoering, since you migrated, would it be possible for you to send a message?

[2016-03-16 19:24] MattBlissett commented on #68
There's a DNS configuration problem (I think that's my fault) with http://www.lsid.info, or possibly the site hasn't worked for a long time — there's nothing useful in the Wayback Machine.

There is perhaps just a single page.  I've temporarily copied it [here](http://bitbucket.matt.blissett.me.uk/www.lsid.info/) so you can see.  It's produced by Typo3, but could easily be put somewhere as a stati

[2016-03-16 19:26] CynthiaParr-USDA commented on #66
As soon as this is shut down please close the ticket.

The rs.tdwg.org rewrites are already ticketed in https://github.com/tdwg/ontology/issues/  .  Assigning to @timrobertson100 who can reassign as necessary.

[2016-03-16 20:30] mdoering commented on #66
The rs.tdwg.org rewrite rules are dealt with in ticket #59, the ontology one is just one piece of it

[2016-03-16 20:36] mdoering commented on #59
Cindy, I would prefer to leave all the blocks old server tags. It is now hard to fine the relevant issues. Getting all the rewrites done properly isn't that simple and blocking a shutdown of owl.

I will try to look after the ontology one. Maybe we can then just serve rs.tdwg.org from the new machine and fix any missing redirects we have overseen when people complain? The currently existing redire

[2016-03-16 22:01] stanblum commented on #44
I've got html and PDFs for 2006, 2007, 2008, and 2009.  I'm going to post
at least the PDFs on www.tdwg.org (actually they'r already there, just need
to be exposed).  I will see what happens with the html.

These will be all abstracts in a single doc/page.

On Wed, Mar 16, 2016 at 11:27 AM, Cyndy Sims Parr notifications@github.com
wrote:

[2016-03-17 07:45] stanblum commented on #44
I've linked the PDFs for the proceedings -- all abstracts in one file -- and there are now linked under

http://www.tdwg.org/proceedings

I might try to post some html versions, but I think that's a lower priority, so I'm going to close this.

[2016-03-17 07:45] #44 closed, assigned to nobody

[2016-03-17 10:54] MattBlissett commented on #68
Thanks everyone.

`falcon.tdwg.org`, `192.38.28.103`, is now shut down.

In case it helps people find where the server has gone, it also had the DNS names `tdwg2006.tdwg.org`, `gaiaresources.lsid.tdwg.org`, `ww1.tdwg.org`, `falcon.tdwg.gbif.org` and `www.lsid.info`.

A filesystem backup is on tdwgng.tdwg.org in `/root/falcon-backup`, in case anything needs to be recovered.  It's large (12GB) so th

[2016-03-17 11:03] mdoering commented on #59
I have archived the current content of the rs.tdwg.org apache documents at https://github.com/tdwg/infrastructure/tree/master/rs.tdwg.org

This is a crude mix of various SVN repository checkouts and none of the files should have been managed on the server. Most of them are in fact already on respective github repos, but not all and potentially in slightly different versions, so I think its best to

[2016-03-17 11:31] CynthiaParr-USDA commented on #59
Okay, I'll try to put the tags back @mdoering -- please close the tickets when you think they are done.

[2016-03-17 11:34] CynthiaParr-USDA commented on #17
@mdoering wanted the tags to stay on until they are done. @sblum can this be closed?

[2016-03-17 11:35] mdoering commented on #59
served from tdwgng now

[2016-03-17 11:35] #59 closed, assigned to mdoering

[2016-03-17 11:37] mdoering commented on #16
I have tried to redirect wiki pages to their github archive text versions

[2016-03-17 11:38] CynthiaParr-USDA commented on #69
I'm worried this is going to get lost, but I don't feel I can write the letter.  Assigning to Tim, but if you want Stan or I can send it out if you draft it.

[2016-03-17 12:46] timrobertson100 commented on #68
Sincere thanks to everybody involved for making this happen so quickly.

[2016-03-17 12:46] #68 closed, assigned to timrobertson100

[2016-03-17 13:33] mdoering commented on #17
@csparr should we not leave all those tags forever? you can search for just the open issues with the tag and we used that tag in links. We probably should have used a milestone for this

[2016-03-17 15:00] MattBlissett commented on #66
I have shut down `owl.tdwg.org` / `192.38.28.106`, also last known as `lsid.tdwg.org` and `tapir.tdwg.org`.

Dumps of the filesystems are on `tdwgng`, in the `/root/owl-backup` directory.  These ones compressed very well, so aren't anywhere near as large as `falcon`'s.

[code]

[2016-03-17 15:11] timrobertson100 commented on #66
Thanks everyone!

[2016-03-17 15:11] #66 closed, assigned to timrobertson100

[2016-03-17 16:09] MattBlissett opened #70 "Shutdown of condor.tdwg.org and harpy.tdwg.org."
I've shut down `condor.tdwg.org` / `192.38.28.104`.  As far as I could tell, there were no useful running services, this looks like an old system for mailing lists, Subversion and wikis.  It could be the predecessor to `owl`.

Filesystem dumps are in `tdwgng:/root/condor-backup`.

[code]

I've also shut down `harpy.tdwg.org` / `192.38.28.109`, which perhaps was a test system never used.  It was em

[2016-03-17 16:10] #70 closed, assigned to nobody

[2016-03-17 16:35] mdoering commented on #16
seems to work: http://wiki.tdwg.org/twiki/bin/view/GUID/LSIDServicesDiscussion

[2016-03-17 16:51] MattBlissett opened #71 "Shutdown of tdwgbox.tdwg.org"
`tdwgbox.tdwg.org` / `192.38.28.102` is the final TDWG server doing almost nothing.

It has the following hostnames pointing to it:
- `biogeosdi.dev.tdwg.org`
- `biogeosdi.tdwg.org`
- `roger.dev.tdwg.org`
- `tapirtester.dev.tdwg.org`
- `www.dev.tdwg.org`

It used also to serve `www.biocol.org`, but I see that is now elsewhere.

Can this be shut down? It looks like these hostnames were only for dev

[2016-03-17 17:20] stanblum commented on #71
That was probably the first testing platform for the TIP team (TDWG Infrastructure Project - 2005-2007).  Yes, it can be shutdown.

[2016-03-17 17:22] stanblum commented on #69
Tim, I can help with that.  Will try to write a draft later today (after you've gone to bed ;-)   Look for it in the AM.

[2016-03-17 17:27] MattBlissett commented on #71
Thanks Stan.

I've shut it down.

[2016-03-17 17:27] #71 closed, assigned to nobody

[2016-03-18 22:04] CynthiaParr-USDA commented on #60
- [ ] https://www.lsid.info apparently needs a redirect (if to nothing else, a webpage as described in #69 )

[2016-03-19 14:46] ckmillerjr commented on #60
The lsid.infohttp://lsid.info domain belongs to TDWG with Stan as the contact.

The DNS servers listed for the lsid.infohttp://lsid.info domain are:
mailserver.nhm.ac.ukhttp://mailserver.nhm.ac.uk
ns.tdwg.gbif.orghttp://ns.tdwg.gbif.org

ns.tdwg.gbif.orghttp://ns.tdwg.gbif.org doesn't ping.

Chuck

On Mar 18, 2016, at 6:05 PM, Cyndy Sims Parr <notifications@github.com<mailto:notifications@github.c

[2016-03-21 09:41] mdoering commented on #60
Chuck, the DNS is now managed in Amazon not GBIF and we have not moved the lsid.info domain, see #68 If we want to keep the domain let us know where it should be pointing to (e.g. http://bitbucket.matt.blissett.me.uk/www.lsid.info/)

[2016-03-21 10:56] MattBlissett commented on #60
Let's not point it to my Raspberry Pi ;-).  It can go on the TDWG server.

I've added an additional DNS zone to our Amazon Route 53 for `lsid.info`.  @stanblum, could you change the delegation at the registrar?

[code]

[2016-03-21 11:08] peterdesmet commented on #17
I have grouped all the `blocks-old-server-switchoff` issues in a milestone (as suggested by @mdoering): https://github.com/tdwg/infrastructure/milestones/Old%20server%20switchoff

That way, we don't clutter the labels, issues can remain grouped and we can actually close the milestone once everything is done. I have deleted the label.

[2016-03-21 18:17] stanblum commented on #60
@MattBlissett, I understood that to mean I should use the DNS entries you listed there, so (copied from what is now entered with our registrar, Network Solutions):

lsid.info
currently points to
Domain Name Server (DNS) ( Edit )
ns-1130.awsdns-13.org
ns-541.awsdns-03.net
ns-233.awsdns-29.com
ns-1827.awsdns-36.co.uk

I note, these are different from the entries now used for tdwg.org

tdwg.org
curre

[2016-03-22 09:35] MattBlissett commented on #60
That's exactly right Stan, Amazon give different name servers for different domains.  It's resolving, all that's needed now is for either Markus or me to make an Apache virtual host for lsid.info, and either copy over the single page from the old site, or redirect to the page which  #69 should provide.

[2016-03-22 11:08] MattBlissett commented on #60
I have restored the homepage of http://www.lsid.info/.  It's the page as it was some time ago, but with the broken links and broken "news" section commented out.

[2016-03-22 17:39] stanblum commented on #60
Thanks, Matt.  I think that takes care of the lsid.info portion of this.

TDWG still needs to decide what to do about the resolver (lsid.tdwg.org): planning and implementing a more graceful deprecation of LSIDs.  That's a big issue that will spawn several tasks.)

[2016-04-04 18:41] stanblum opened #72 "http://tdwg.org to be handled by www.tdwg.org"
Several people have noticed that http://tdwg.org gives a blank directory listing; it doesn't get handled by Typo3 and produce the www.tdwg.org home page.  This is odd because Typo3's configuration includes accepting requests to unqualified "tdwg.org".  Is there something that should be added to the apache config or vhosts?

Also note that my chrome browser was automatically forwarding me from tdwg

[2016-04-05 07:35] MattBlissett commented on #72
Apache wasn't handling tdwg.org, it was falling through to http://rs.tdwg.org instead (should that page be something other than an empty directory listing?)

I've set tdwg.org to redirect to www.tdwg.org, as I understand that's better for search engines.

[2016-05-04 10:48] mdoering opened #73 "Invasive Species Interest Group member list"
The Invasive Species Interest Group has a member list that has not been used in a very long time.
Annie Simpson used to be an administrator of the interest group member list but can no longer access it (only the first page) at its previous location: http://www.tdwg.org/activities/invasives/members/

Has that member list been maintained in typo3 and now vanished? Can it be resurrected?

[2016-05-04 20:52] stanblum commented on #73
I think interest/task group member lists are managed by
"self-subscription".  A user can update his/her profile by adding and
removing which interest/task groups are selected there.  I don't think a
convener could ever add or remove another person's interest.

But perhaps more to the point, what does Annie want to do with this list?
I don't think there are any functions based on these lists.  If s

[2016-05-14 17:27] stanblum commented on #73
I sent a list of Interest group members (users who self identified as interested in Inv Spp) and their emails  to Annie Simpson.

[2016-05-14 17:27] #73 closed, assigned to nobody

[2016-05-14 17:37] stanblum commented on #54
I wrote to them Friday and got a reply this morning (Sat).  They have temporarily given us a  free account, for 9 months.  If we haven't received our IRS determination by then, they will re-evaluate the situation.  As soon as we get our status approved, we need to send them a copy of the letter from the IRS.  They also refunded the $25 monthly fee we paid for April. ( Bonus ! )

[2016-05-14 17:37] #54 closed, assigned to stanblum

[2016-08-02 19:54] #72 closed, assigned to nobody

[2016-08-02 22:05] stanblum commented on #39
This has been up for a while.  And I've just checked - Paco has rights to edit the web site.  I'll send him a note alerting him to that fact and to ask for help if he needs it.  (I think he's on vacation at the moment.)  I think this task is done.

[2016-08-02 22:05] #39 closed, assigned to nobody

[2016-08-03 17:34] CynthiaParr-USDA commented on #39
Thanks -- I didn't see it because I assumed it started with S where it is starting with T.  Any particular reason it starts with TDWG?

[2016-08-03 18:40] stanblum commented on #39
Somewhere I was given the abbreviation TSI -- TDWG Species Information.  But you're right, it should be Species Information (and it is in the navigation tree where characters are at a premium).  That would mandate changing name abbreviation to SIIG or ??   I'll ask Paco.

[2016-08-03 18:49] stanblum commented on #64
This has been up for a while (visible only when logged in), but we need some clarification on who are co-conveners.  I asked Andrea (now listed as co-convener).  She said she can't do it anymore and understood that Paul Flemons had agreed to take it on.  I've written to Paul, but he's on vacation (and offline) for another week.  Will edit and make public when he gets back to me.

[2016-08-04 02:21] CynthiaParr-USDA commented on #35
@ghwhitbread agreed to take the task and in the meantime will serve as maintainer.
@peterdesmet do you need to give him the reins of the https://github.com/tdwg/guid-as project? I'm not sure how to do that or if he can do it himself.

[2016-08-04 21:25] CynthiaParr-USDA commented on #60
FYI I just ran into LSIDs in the wild (a Pensoft publication) and curious, I tried to follow the link to see what would happen.
http://jhr.pensoft.net/articles.php?id=4989
![screen shot 2016-08-04 at 5 24 02 pm](https://cloud.githubusercontent.com/assets/5820982/17418784/4c989418-5a68-11e6-98f0-690ef603cef3.png)

We still need to finish dealing with this.

[2016-08-05 03:47] rdmpage commented on #60
And so we're back to should TDWG support a LSID resolver...

I think it sends a bad message to simply abandon resolving LSIDs, especially given that people are still using them.

The old TDWG resolver used some Perl scripts, I have working PHP code to could be used to provide a working resolver. We could be cleverer and add a simple triple store backend to cache the resolved metadata (if we'd done

[2016-08-05 07:34] mdoering commented on #60
Hosting on the tdwg machine@gbif should be fine if we got working code easy to deploy. we could run it next to the typo3 website if its also php. Thats very simple, but the docker container would be nicer in the long term

[2016-08-08 17:04] rdmpage commented on #60
Note that LSIDs also occur in PubMed Central content, e.g. urn:lsid:zoobank.org:act:469B5A6C-6773-4E35-8F0D-5CF4EE85D658 appears in http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3677382/ (http://dx.doi.org/10.3897/zookeys.280.3906 ). TDWG saying "we won't support LSIDs" is a little like CrossRef saying "oh well, DOIs were fun, but we've decide not to support them anymore...". OK, I exaggerate a litt

[2016-08-08 17:11] rdmpage commented on #60
OK, I've put together a simple LSID resolver that attempts to resolve a LSID and display result the RDF in JSON-LD, n-triples, and XML. Live demo is here: http://bionames.org/~rpage/lsid-resolver-php-o

I need to add a support for content negotiation so it can be used as an API to resolve LSIDs, and clean up the code a bit. If this is useful I could look at packaging it up and making it available

[2016-08-08 18:36] gkampmeier commented on #60
We have LSIDs that we had used TDWG's resolver for. I've chosen a couple but it seems to get stuck at "Resolving..." Does this mean that it is broken or in need of a further hack to work or is it that the URL is not updating when I hit go (although replacing the URL with the correct urn:lsid didn't help)? Am using Chrome on a Mac 10.10.5.

Thank you for working to support legacy content!

[2016-08-08 19:58] rdmpage commented on #60
Hi @gkampmeier, can you post the LSIDs here and I'll take a look and figure out what the problem is?

[2016-08-08 20:13] gkampmeier commented on #60
urn:lsid:taxonomy.org.au:TherevidaeMandala:MEI024058

Should return Neodialineura trichidion Winterton, 2009

AUSTRALIA, Western Australia, Leeuwin Naturalist National Park, Cape Naturaliste, Yallingup, Yallingup Caves, [-33.65, 115.033], 23.XII.1979, hand netted, R. M. Bohart

[2016-08-08 21:42] rdmpage commented on #60
@gkampmeier I've tweaked the code to show error messages a bit more clearly. The LSID **urn:lsid:taxonomy.org.au:TherevidaeMandala:MEI024058** fails because the resolver expects the domain  taxonomy.org.au to have a SRV record telling it where to find the location of the LSID server for that domain.

It looks like taxonomy.org.au is no longer active (http://taxonomy.org.au resolves to site full of

[2016-08-08 21:55] gkampmeier commented on #60
Sigh is right.  I'll pass on the news to Shaun Winterton.  Thanks!

[2016-08-10 15:32] rdmpage commented on #60
More examples of LSIDs in the published literature:

urn:lsid:zoobank.org:act:540D306B-7EAC-4AD9-B072-842AC26F91F7 http://dx.doi.org/10.1371/journal.pone.0152454

urn:lsid:zoobank.org:pub:CBAD704B-64F6-421B-BC71-74DF4620DB4E http://africaninvertebrates.org/ojs/index.php/AI/article/view/395

urn:lsid:zoobank.org:pub:FCD51F6F-A5D6-4466-ADB6-0ADC9F560F66 http://dx.doi.org/10.5852/ejt.2014.105

urn:ls

[2016-08-15 08:59] MattBlissett commented on #60
Another option is a resolver done entirely in Javascript: http://codepen.io/MattBlissett/pen/dXagbB

[2016-08-15 12:22] rdmpage commented on #60
Now that's just showing off ;) Very cool, how stable are https://crossorigin.me and http://dig.jsondns.org likely to be...?

[2016-08-17 10:06] mdoering commented on #60
Here is the TAG message from Nicky in 2009 about using redirects: http://lists.tdwg.org/pipermail/tdwg-tag/2009-April/000358.html

I am a bit lost if there is a consensus to run a resolver at TWDG now and what that resolver should do. Personally I think now it would be good to host one and be responsible for what was done only some years ago. If many LSIDs are not resolving because of broken domai

[2016-08-17 14:46] rdmpage commented on #60
Here's the comment from @nickynicolson formatted in a readable way:

[2016-08-17 14:52] rdmpage commented on #60
If I read @nickynicolson correctly the issue is volume of traffic caused by LSID resolution. One solution is to cache the result (for example, cache the RDF as a file, some other persistent storage, or put in a triple store). The other is to respect the **Crawl-delay:** directive in some way, although that may hamper the use of LSIDs. For example, http://ipni.org/robots.txt looks like this:

[code

[2016-08-17 14:56] rdmpage commented on #60
Re @mdoering comment on TDWG views on LSIDs, I'm happy to contribute time to set a resolver up.

[2016-08-17 15:08] MattBlissett commented on #60
If we do prodived a resolver, I think it should do the minimum necessary: look up the LSID's authority, query to find the server, and send an HTTP redirect to the data.

A redirect makes selectively blocking problem users possible, which I think is useful for IPNI, and a web spider would query for /robots.txt before following the redirect.

[2016-08-17 15:19] mdoering commented on #60
A redirect would also allow IPNI and others to know who is issuing the original request. I understood @nickynicolson this is even more important than the throttling. I can definitely see this being very useful information.

Having not dealt with LSIDs for a while, the redirect goes to the metadata, not data, right? I recall there ain't no data in our domain apart from images ;)

[2016-08-17 15:19] rdmpage commented on #60
The down side is that there's no web-friendly interface that displays the RDF. The failure to do this is, I think, one reason LSIDs failed. Outside the small group who follow these sorts of discussions, hardly anybody knows what RDF is, or what to do with it. I've always thought that if we had a richer client, for example one that could "learn" from the metadata it is resolving and add some value,

[2016-08-17 15:22] rdmpage commented on #60
Perhaps I'm conflating two issues here: (1) need to support LSIds as they are in the wild, and (2) understanding why LSIDs failed to take off. But, I'd argue if we fail to learn the lessons then we'll end up repeating this whole mess. DOIs started at about the same time as LSIDs, one is now ubiquitous, one is moribund. Why? The answer isn't just that there was money behind DOIs...but I digress.

[2016-08-17 15:22] rdmpage commented on #60
Anyway, is someone in a position to say "yes, let's set up a resolver" and make it happen?

[2016-08-17 15:34] MattBlissett commented on #60
The richer client is fine, but I think it goes beyond what TDWG as a standards body should provide.

What do users expect when they resolve an LSID? It probably depends whether they're clicking a link in a paper, or knowingly went to the service to input the LSID.

IPNI provides a reasonable-looking stylesheet with their RDF: http://ipni.org/urn:lsid:ipni.org:names:20012728-1:1.1 but I think they'

[2016-08-17 16:11] rdmpage commented on #60
I guess this is a bigger discussion, but I don't think standards exist in isolation. If you want to see them used then you have to think about the ecosystem that will use them (ideally, that ecosystem was crying out for the standard to be developed, and will embrace it with open arms once it's developed). Simply saying "it's not our job" might make sense if you define TDWGs mission as "we make sta

[2016-08-29 07:49] peterdesmet commented on #35
@ghwhitbread, you're now team maintainer of the guid team: you can add/remove members. The team has one pending invitation for @richardsk, but there are no further members for the moment. The (whole) team has always had admin rights to the https://github.com/tdwg/guid-as repo.

[2016-08-29 07:49] #35 closed, assigned to ghwhitbread, CynthiaParr-USDA

[2016-08-29 08:52] ghwhitbread commented on #35
Thank you Peter.

On Monday, 29 August 2016, Peter Desmet notifications@github.com wrote:

##

Greg Whitbread
+61 418 670 368

taxamatics

[2016-09-06 13:51] MattBlissett commented on #57
I reviewed the backup procedures after taking over the systems administration, and left them as Andrei described:
- A backup to a hard disc pool is taken every night (full once per week, incremental each other day)
- A full backup to tape is taken every two weeks.

Tapes are stored in a fireproof safe, some are recycled, but at least one from every 6 months is kept for five years.  The hard disc p

[2016-09-06 17:48] CynthiaParr-USDA commented on #57
Thank you for the clear explanation. Recommend that this be captured in a wiki page where it will be easy to find. I have added to the wiki under "Back up procedures"

[2016-09-14 11:19] timrobertson100 commented on #60
I will propose the following to the TDWG Exec for approval by the **16th of September** for implementation on the **19th September** by GBIF.
- GBIF install the LSID Resolver offered by @rdmpage on a GBIF server addressable at `lsid.info`
- GBIF configure an `HTTP 301 Permanent redirect` from `lsid.tdwg.org/*` to `lsid.info`
- TDWG can state that they do not recommend the use of LSID, have no resp

[2016-09-20 14:25] MattBlissett commented on #60
Hi all,

I've set up Rod's LSID resolver on http://www.lsid.info/, both as Rod provided, and with another version that ends with an HTTP redirect to the metadata.

Cyndy's example from earlier: http://lsid.tdwg.org/urn:lsid:biosci.ohio-state.edu:osuc_pubs:243 — this redirects to the machine readable version. (And the new URL is http://www.lsid.info/urn:lsid:biosci.ohio-state.edu:osuc_pubs:243 )

I

[2016-09-23 06:55] peterdesmet commented on #60
Nice!

[2016-09-23 07:14] timrobertson100 commented on #60
@rdmpage - can you please confirm redirects using lsid.tdwg.org URLs work as you need?

[2016-09-28 12:49] rdmpage commented on #60
@timrobertson100 Looks good to me...

[2016-09-28 12:57] #60 closed, assigned to nobody

[2016-10-14 06:34] peterdesmet opened #75 "Add LICENSE file to all repositories"
A while ago, we discussed which license to use for TDWG content and it was decided to continue to use (but upgrade to 4.0) https://creativecommons.org/licenses/by/4.0/

However, in our repositories such a license is missing. If agreed, I will add one for all repositories, with the copyright owner "Biodiversity Information Standards (TDWG)".

[2016-10-26 08:16] peterdesmet commented on #75
We should also re-evaluate if we want to use CC-BY for all TDWG content or e.g. use CC0 for our standards, see https://github.com/tdwg/vocab/issues/38

[2016-10-26 08:18] peterdesmet commented on #75
And https://github.com/tdwg/vocab/issues/32

[2016-11-03 11:19] CynthiaParr-USDA commented on #75
recommend something to exec from infrastructure
- CC-BY for content
- need something on GitHub, need to decide on that
- get standards folks to agree
- prepare statement for the website

[2016-11-03 11:22] CynthiaParr-USDA commented on #75
Peter to find our old discussion on email

[2016-11-03 11:24] peterdesmet commented on #75
Email discussion started with email from John Wieczorek on 2013-12-05 with topic "Request to change license for Darwin Core documentation to CC0"

[2016-11-03 11:28] peterdesmet commented on #75
So 4 things to do:
- Decide which license(s) to use: CC-BY and/or CC0 (look also at email discussion)
- Write text for (future) TDWG contributors that these licenses will be used for their content + put it on TDWG website
- Write _current_ TDWG contributors of standards that we plan to use this license on their content + ask approval
- Add license to GitHub repositories.

[2016-12-09 20:21] peterdesmet opened #80 "Make sure all IG have a GitHub repo"
Below are the interest groups for which the conveners presented conclusions at the closing session of the TDWG 2016 conference. All of these need a space on GitHub to collaborate. I'm tracking the status of this task in this issue.

* [x] Annotations: https://github.com/tdwg/annotations
* [ ] Attribution: (repo still private)
* [ ] Citizen science: no charter yet
* [x] Curriculum: https://github.c

[2016-12-09 20:22] peterdesmet commented on #80
@jmacklin, is this "Services" already an IG (with a charter) and is there need for a repo?

[2016-12-09 20:23] peterdesmet commented on #80
@jmacklin, seems there is: http://www.tdwg.org/activities/biodiversity-services-clients/charter/. So, is there a need for a repo?

[2016-12-09 20:31] peterdesmet commented on #80
Hi @debpaul, you presented Software Carpentry at closing session. Is this an interest group and would you need a repo under TDWG?

[2016-12-09 20:32] peterdesmet commented on #80
@ghwhitbread does TAG need a repo or does the current mailing list suffice?

[2016-12-09 20:37] debpaul commented on #80
Hi Peter,
No, we're not an IG - we were asked to share feedback b/c local hosts and TDWG were prominent in asking for this workshop - and making it possible :-)
Deb

Sent from shoe (iPhone)

[2016-12-09 20:38] peterdesmet commented on #80
@debpaul great, I'll remove it from the above list then. 🇨🇷

[2016-12-09 20:49] ghwhitbread commented on #80
@peterdesmet Yes please Peter, TAG will need at least one repos for business and perhaps a second for public access.  TAG mail list seems to have more members than TDWG.

[2016-12-09 20:51] peterdesmet commented on #80
@ghwhitbread bread, so at least one private repo?

[2016-12-09 20:55] ghwhitbread commented on #80
@peterdesmet Yes. Private repo for TAG.

[2016-12-09 20:59] peterdesmet commented on #80
@ghwhitbread done! You should have received an invitation through email.

[2016-12-13 09:17] PacoPando commented on #80
Hi @peterdesmet ,

Regarding the Species information: IG, and after ite IG meeting at TDWG2016, this is what is needed:

A repository for the IG, that it is titled as "TSI" (TDWG Specied Information IG http://www.tdwg.org/activities/species-information/charter/)

A repository for Plinian Core, that now becomes a TG under the TSI IG; the two current repositores (sources & documentation) to be merge

[2017-01-23 08:17] peterdesmet opened #82 "Join wiki and code of PlinianCore into one repo"
Steps:

* [x] Get admin access to https://github.com/PlinianCore/Sources and https://github.com/PlinianCore/Documentation
* [x] Download both locally
* [x] Move Documentation wiki under Sources repo
* [x] Push back to GitHub
* [x] Rename `sources` to `PlinianCore`
* [x] Move repo under TDWG organization
* [x] Create team to maintain it
* [x] Add people to team (https://github.com/orgs/PlinianCore/

[2017-01-23 08:22] peterdesmet commented on #80
Hi @PacoPando, I've created a separate issue for moving the PlinianCore to TDWG: #82 Thus, for this issue remains:

* Creating TSI IG repo. Was there a consensus on using `TSI`? `species-information` might be more straightforward...
* Maybe create an ISIG repo: not 100% sure this is needed. Most (all?) work for this group will be on GISIN, which has its repo at: https://github.com/tdwg/gisin @as66

[2017-01-23 08:31] MattBlissett commented on #82
I've done a step three before (merging two Git repositories, keeping all history). It would only take me five minutes to do it for this.

[2017-01-23 09:27] peterdesmet commented on #82
@MattBlissett awesome! Than it's better that you do this! So the idea is to merge the Documentation wiki into the sources repo and then push everything to the sources repo. I can then take it further from there.

I'll give you admin access to both.

[2017-01-23 10:33] MattBlissett commented on #82
Do you mean to put it in the Sources Github Wiki, or in the Sources code repository? If the latter, under what subdirectory?

[2017-01-23 10:40] peterdesmet commented on #82
Put documentation wiki in sources repository **as the wiki**. The [documentation code](https://github.com/PlinianCore/Documentation) (a README) will be ignored (should not be transferred), the [sources wiki](https://github.com/PlinianCore/Sources/wiki) will be overwritten (is empty).

[2017-01-23 13:01] MattBlissett commented on #82
This is now done.

[2017-01-23 14:03] peterdesmet commented on #82
Fantastic! :smiley: I'll take it from here

[2017-01-23 14:23] peterdesmet commented on #82
@pacopando, thanks to the help of @MattBlissett, PlinianCore code + wiki are now merged (with all history intact). It is accessible at https://github.com/tdwg/PlinianCore. Some further steps:

* [ ] For now, the [PlinianCore organization](https://github.com/PlinianCore) and [PlinianCore documentation wiki](https://github.com/PlinianCore/documentation/wiki) are still around outside TDWG. **That can

[2017-01-23 14:29] peterdesmet commented on #82
Note that I also added an issue to the PlinianCore regarding links in the wiki: https://github.com/tdwg/PlinianCore/issues/4

[2017-01-27 00:43] stanblum opened #84 "Fix broken wiki links on tdwg.org/activities page (table)"
Fix broken wiki links on tdwg.org/activities page (table)

* [ ] GIG
* [ ] IMG
* [ ] LIT  (and mailing list)
* [ ] DwC
* [ ] OBS
* [ ] Phylo
* [ ] Process
* [ ] TAG
* [ ] GUID
* [ ] TAPIR
* [ ] TIP  <probably should archive this or change to infrastructure FS

Also need to update any references to the wiki that appear on content pages.

[2017-01-29 14:57] gkampmeier opened #85 "How to handle presentation files from Annual Meetings"
At the Jan. 2017 TDWG Exec it was agreed that we need a more permanently accessible and secure (cannot be tampered with) repository for presentations (both uploaded files and a backup for iDigBio recordings) from annual meetings, ideally one that might be indexed to make contents discoverable. Ultimately this should probably also be linked to the abstracts, which are currently hosted on OCS at the

[2017-01-29 19:35] peterdesmet commented on #85
One option that comes to mind is to upload them to Zenodo: there they are perminanently, with authors, abstracts, a license and a DOI. Plus the can all be grouped under a TDWG community. We already have Darwin Core archived there.

[2017-01-29 19:43] stanblum commented on #85
Stated more generally, TDWG has a need for:
- a moderate amount of storage (largest category would be presentations and the videos of presentations [we'll ask what volumes are]),
- that can be secured (backed up, protected from malicious tampering, maybe human error),
- configurable read/write security
- can be web accessible or readable to only a logged-in user with permissions (think document ar

[2017-01-29 19:45] gkampmeier commented on #85
@peterdesmet Would you please provide a link? Appears this name references a game and a whole bunch of other things.

[2017-01-30 10:48] peterdesmet commented on #85
@gkampmeier yes: https://zenodo.org

Darwin Core example: http://doi.org/10.5281/zenodo.12693

[2017-01-31 10:16] dkoureas commented on #85
I would full support having our presentations, datasets and other resources deposited at Zenodo. This will need to be under a new ‘Community’, probably named TDWG(?). Zenodo is a certified repository that meets all the requirements for long term preservation of data.

We will need to assign a curator.

Kind regards,
Dimitris

#End
--
Dr Dimitrios Koureas, FLS
Lead, Research Data & Partnerships
Dep

[2018-10-01 20:50] baskaufs opened #86 "machine-readable citation export formats"
As we clean up the website and standards-related documents, we should figure out how to implement bibliographic citations as described in [section 3.2.3.1 of the Standards Documentation Specification](https://github.com/tdwg/vocab/blob/master/sds/documentation-specification.md#32-descriptive-documents).  Specifically, it says that the citation "SHOULD also provide access to one or more standardize

[2019-11-04 15:05] MattBlissett commented on #57
I've updated the wikipage to reflect changes to the backup procedures at GBIF (migration to Copenhagen University system).

[2019-11-04 15:05] #57 closed, assigned to nobody

[2020-03-04 16:24] MattBlissett commented on #27
If there's anything relevant for recovery, this is at `http://old.tdwg.org/about-tdwg/resources-for-outreach/`.

[2020-03-04 16:25] MattBlissett commented on #28
`http://old.tdwg.org/about-tdwg/executive/meetings/`
`http://old.tdwg.org/about-tdwg/executive/meetings/st-louis-14oct2006/`

[2020-03-04 16:27] MattBlissett commented on #29
`http://old.tdwg.org/about-tdwg/faq/`

[2020-03-04 16:28] MattBlissett commented on #31
The old page is at `http://old.tdwg.org/activities`.

[2020-03-04 16:29] MattBlissett commented on #34
See `http://old.tdwg.org/membership/testimonials/`.

[2020-03-04 16:30] MattBlissett commented on #37
Old page is available at `http://old.tdwg.org/activities/`.

(And assigning the real Stan.)

[2020-03-04 16:30] MattBlissett commented on #40
Old page at `http://old.tdwg.org/activities/tnc/`.

[2020-03-04 16:31] MattBlissett commented on #41
Old page at `http://old.tdwg.org/activities/tnc/`

[2020-03-04 16:31] MattBlissett commented on #42
Old page at `http://old.tdwg.org/activities/`

[2020-03-04 16:31] MattBlissett commented on #43
Old page at `http://old.tdwg.org/activities/invasives/`

[2020-03-04 16:33] MattBlissett commented on #45
Old about page was at `http://old.tdwg.org/about-tdwg/`.

[2020-03-04 16:37] MattBlissett commented on #49
Are these redirects still necessary?

(And @baskaufs, this might have some missing information for rs.tdwg.org.

"the new tdwg-ng site" means the one switched off over a year ago.)

[2020-03-04 16:39] MattBlissett commented on #61
Can this issue be closed?

[2020-03-04 16:40] MattBlissett commented on #62
It looks like this redirect is defined. Can this issue be closed?

[2020-03-04 16:40] MattBlissett commented on #63
To see what that page had, `http://old.tdwg.org/activities/convener-tasks/`.

[2020-03-04 16:41] MattBlissett commented on #64
`http://old.tdwg.org/activities/` has the old content.

[2020-03-04 16:42] MattBlissett commented on #69
Can this be closed?  I think the tasks have been completed (whether or not the community was informed).

[2020-03-04 16:43] #69 closed, assigned to timrobertson100

[2020-03-04 16:45] MattBlissett commented on #82
Can this be closed? It looks like the content was moved to tdwg's organization.

[2020-03-04 16:46] MattBlissett commented on #84
This refers to the old site `http://old.tdwg.org/activities`

[2020-03-04 16:50] MattBlissett commented on #20
The Typo3 server is `old.tdwg.org`, if anyone needs to see what the links in the document referred to.

[2020-03-04 16:55] MattBlissett opened #92 "Decommissioning old Typo3 / tdwgng system"
We are still running the old Typo3-based website on the server tdwgng.tdwg.org. It's accessible at `old.tdwg.org` (and indexed in Google, but I'm not going to encourage Google further by making that a link).

Is any of the content still required?  I've gone through all the issues, and labelled those that refer to pages only on the old website: https://github.com/tdwg/infrastructure/issues?q=is%3Ai

[2020-03-05 01:19] stanblum commented on #92
I think I have most useful material off of that site, but I have
appreciated having access to the old website.  In fact, I just looked
material on the old site last week.

Is there an *easy* way to make the content viewable to people like me, with
the need to look at historical content, without making it visible to others
or vulnerable to hackers?  Could I/we put it in some sort of container that

[2020-03-05 09:07] timrobertson100 opened #93 "Complete rollout for the Standards Document Implementation"
Action items:

- [x] Determine which of the standards landing pages are already adequate and don't change them.
- [x] Determine which landing pages have content that needs to be kept but need to have descriptions of and links to their standards documents.
- [x] Use the landing pages I've generated by script for the standards whose landing pages aren't adequate or that don't exist at all.
- [x] Cre

[2020-03-05 17:05] MattBlissett commented on #92
The VM image could probably be exported (although it's likely to be a bit large).

I started the issue because I was looking at the TDWG servers after the work on rs.tdwg.org, but it's not urgent. It's no problem to run this service for 6 more months or so.

[2020-03-05 18:43] baskaufs commented on #92
@stanblum if you can get into the old Typo3 system, is there a way to find out the identities of the review manager for the GUID AS? See [this issue](https://github.com/tdwg/rs.tdwg.org/issues/11). If this information is unknowable, then I'll close the issue and forget about it. I think the answer is in that old OJS system, but I don't know if it exists anywhere anymore.

[2020-03-05 19:23] baskaufs commented on #93
[This issue](https://github.com/tdwg/website/issues/129) can be dealt with in this review.

[2020-03-05 19:28] baskaufs commented on #93
Also
- [build XDF page](https://github.com/tdwg/website/issues/125)
- [IH page](https://github.com/tdwg/website/issues/126)
- [PNDB](https://github.com/tdwg/website/issues/124)
- [Floristic Regions](https://github.com/tdwg/website/issues/123)
- [BPH](https://github.com/tdwg/website/issues/121)

[2020-03-05 19:29] baskaufs commented on #93
Related [Standards URI redirection issue](https://github.com/tdwg/website/issues/83)

[2020-03-05 19:31] baskaufs commented on #93
Close [this issue](https://github.com/tdwg/website/issues/46) when finished.

[2020-03-05 20:06] baskaufs commented on #93
I see that I created a [milestone](https://github.com/tdwg/rs.tdwg.org/milestone/1) for this a while ago. it should be reviewed before closing this issue.

[2020-03-06 04:04] stanblum commented on #92
I'll have to dig.  I don't know if that ever went through the review
processes.

On Thu, Mar 5, 2020 at 10:43 AM Steve Baskauf <notifications@github.com>
wrote:

[2020-03-06 11:37] baskaufs commented on #92
I'm pretty sure that it did. I remember that there was a request for comments because I submitted some. I was thinking that Kevin Richards was the person who sent me a response, but he was the author, not the review manager.

I'll make a quick look-through of the tdwg-content archives and my email to see if I can find anything.

I know that when I was the AC review manager I was supposed to put al

[2020-03-06 11:55] baskaufs commented on #92
OK, I found this: http://lists.tdwg.org/pipermail/tdwg-content/2009-November/000255.html , which would imply that Ben Richardson was the review manager (although that's not specifically stated). Does that ring a bell?

I also checked my email and I see that I have one from Ben Richardson on 2010-09-02 acknowledging my comments and saying that the final draft would be under review. So that also see

[2020-03-09 14:02] baskaufs commented on #92
I have emailed Ben and he confirmed that he was the review manager. So this question had been answered.

[2020-03-10 14:59] stanblum commented on #61
These decisions were made a long time ago, so, yes. Closing...

[2020-03-10 14:59] #61 closed, assigned to nobody

[2020-04-07 13:18] baskaufs commented on #49
I was going to work on this, but I'm not clear about what actually needs to redirect to what. If someone in this conversation can make a list of the URLs that need to direct and what they need to redirect to, I can set them up to be incorporated the next time rs.tdwg.org gets rebuilt.

[2020-08-11 15:03] DavidFichtmueller opened #94 "rs.tdwg.org doesn't forward to ABCD 3 terms properly"
There must have recently (?) been a change to the server setup of rs.tdwg.org that broke the redirects for the ABCD 3 terms. The rules specified in [httpd/rs.tdwg.org.conf](https://github.com/tdwg/infrastructure/blob/master/httpd/rs.tdwg.org.conf) are ignored.

For instance http://rs.tdwg.org/abcd/terms/Unit should redirect to https://abcd.tdwg.org/terms/#Unit but instead it shows an empty page wi

[2020-12-09 15:03] oggioniale commented on #60
In recent years I have often returned to using LSID resolver and lsid.info.
I ask you why many of the examples in the previous comments are no longer working. But, above all, I would like to ask you why the implementation of an LSID resolver has not been continued.

[2020-12-09 16:13] MattBlissett commented on #60
LSID is a distributed identifier system.  The resolver at lsid.info has to query institutional servers to resolve an LSID, and most organizations who once ran a server to answer such queries have switched it off.

For a very basic resolution (just redirecting to a URL) it's relatively easy to set something up so these identifiers resolve.  http://lsid.info/urn:lsid:biocol.org:col:15596 "works" (re

[2022-02-11 15:36] baskaufs commented on #93
There is nothing blocking completion of this other than somebody just doing it. Refer to https://github.com/tdwg/ac/issues/232#issuecomment-1036338939 for details.

[2022-02-23 02:34] baskaufs commented on #93
Everything seems to be done here now.

[2022-02-23 02:34] #93 closed, assigned to nobody

[2022-04-28 08:34] DavidFichtmueller opened #96 "adjust IP for terms.tdwg.org subdomain"
The TDWG Terms Wiki runs on the Biowikifarm which due to some technical chances in the MfN had to change its public IP. The new IP is 212.201.100.125 and it needs to be migrated very soon, preferably today.

For further questions, please contact Falko Glöckler.

[2022-04-28 12:16] MattBlissett commented on #96
Done, but note the new IP is not working correctly (504 Gateway Timeout).

[2022-04-28 12:29] DavidFichtmueller commented on #96
Thank you. Yes the server is still having some issues. The colleagues at the MfN are currently restructuring the infrastructure. The issues were also present with the old IP.

[2022-04-28 12:29] #96 closed, assigned to MattBlissett